//-include header/header
include breadcrumbs/breadcrumbs
include footer/footer
include head/head
include navigation/navigation
include navigation/url
include pagination/pagination
include preloader/preloader

include version/version

include navigation/scroll_nav/scroll_nav
include header_name/header_name