//-Modal btn
mixin btn(text, btnClass)
    a(href='#modal' class=( btn= btnClass + ' open_modal btn btn-primary') title='').btn= text

//-Btn3
mixin btn3(text, btn_Link, btnClass)
    a(href=(btn3= btn_Link)  class=(btn3 = btnClass + ' btn btn-secondary btn3') title='').btn3= text

//-Btn2
mixin btn2(text, btn_Link, btnClass)
    a(href=(btn2= btn_Link)  class=( btn2= btnClass + ' btn btn-secondary') title='').btn2= text
        +img('img/svg/arrow_right_s.svg')