button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  text-align center
  display flex
  justify-content center
  align-items center
  //transition .2s
  //transition-timing-function linear

//Btn-primary
.btn_primary1, .btn_primary2{
  //pb(2.5px)
  hr(62px);
  border: 2px solid $color1;
  pb(1px)
  bg(transparent);
  co($color1);
  ff($regular);
  fs($font_m1);
  letter-spacing: 4px;
  &:hover{
    co($color1);
    border: 4px solid $color1;
  }
  +mob(){
    hr(60px)
    fs($font_m2)
  }
}
.btn_primary1_right{
  float:right
}

.btn_primary1{
  mt(10px);
  wr(100%);
  max-width 230px
  +mob(){
    wr(100%)
    max-width 100%
  }
}
.btn_primary2{
  wr(260px);
  max-width 260px
  +mob(){
    wr(100%)
    max-width 100%
  }
}

//Btn-secondary
.btn-secondary{
  text-align center
  //width: 360px;
  wr(100%)
  hr(100px);
  bg($color3)
  display: flex;
  align-items: center;
  justify-content: center;
  co($color1);
  ff($medium)
  font-size: $font_m1 - 1;
  line-height: 24px;
  letter-spacing: 4px;
  &:hover{
    co($color1);
  }
  &:hover img{
    left: 20px;
    +md(){
      left 10px
    }
    +mob(){
      left 2px
    }
  }
  img{
    ml(10px)
    left: 2px;
    position: relative!important;
    hr(auto!important);
    wr(35px!important);
    trans()
  }
}

.btn3{
  hr(65px)
}