mixin method()
    section.method__page.mt__page
        .container
            +breadcrumbs('Метод работы')
        .method__page__main__section
            .method__page__main__overlay
            +img('img/jpg/method.jpg')
            .container.method__page__caption
                .row
                    .col-md-12.animate__caption
                        h2 Метод работы
            .container.method__page__main__section__text
                .row
                    .col-md-2.col-lg-1
                        h3 Главное преимущество
                    .offset-md-1.col-md-6.offset-lg-1.col-lg-6
                        h1 Я — стратег, <br> а не тактик
                    .only_d.method__page__main__section__text__container.col-md-3.offset-lg-1.col-lg-3
                        span 752
                        p Успешно выполненых проектов
        .method__page__content.container
            .row
                .offset-md-2.col-md-8.method__page__main__section__block__container
                    .row.method__page__main__section__block
                        .col-lg-12
                            p Моя главная профессиональная черта — повышенное чувство ответственности.
                                | Я отвечаю за каждое свое решение как менеджера, за решения клиента перед
                                | партнерами и подрядчиками, а также за результат работы всей проектной команды
                                | и привлеченных специалистов. С одной стороны это делает меня надежным управляющим
                                | проектов, а с другой — очень требовательным руководителем, поэтому в моей компании
                                | работают самые стойкие и проверенные люди.
                        .col-lg-6
                            +btn('Связаться', 'btn_primary1')
            .row.justify-content-md-center.method__page__content__text
                .col-md-8
                    h2  В проекте я выступаю поверенным клиента:
                    p Моя задача — максимально освободить заказчика от строительных вопросов и проблем.
                        | После согласования всех деталей проекта, вы будете общаться не с целой бригадой
                        | специалистов и подрядчиков, а только со мной на всех этапах ремонтно-строительных
                        | работ. Я работаю в ваших интересах, оптимизируя время, бюджет и предоставляя Результат.
            .row.justify-content-md-center.method__page__list__container
                .col-md-8.method__page__list__caption
                    h2 Порядок управления <br> и организация работ:
                +method-list('Знакомство', [
                    {name: 'Обращение и личная встреча'},
                    {name: 'Знакомство с проектом, обсуждение пожеланий и предложений'},
                    {name: 'Заполнение опросника и проектной заявки'}])
                +line('col-md-12')
                +method-list('Бюджет', [
                    {name: 'Составление перечня работ и зон ответственности '},
                    {name: 'Закрепление бюджета, сроков и гарантий в официальном договоре'}])
                +line('col-md-12')
                +method-list('Договор', [
                    {name: 'Детальное изучение проекта, замеры и оценка реализации'},
                    {name: 'Открытое ценообразование, расчет материалов и работ согласно тех. картам'},
                    {name: 'Индивидуальный просчет и презентация'}])
                +line('col-md-12')
                +method-list('Исполнение', [
                    {name: 'Управление ходом работ на объекте, контроль сроков, качества, поставок'},
                    {name: 'Отчетность после реализации каждого этапа'},
                    {name: 'Ответственность за процесс и результат'}])
                +line('col-md-12')
            //List
            .row.justify-content-md-center.method__page__list__container
                .col-md-8.method__page__list__caption
                    h2 Преимущества моего метода
                +method-list('Результат для вас', [
                    {name: 'Профессионально реализованный проект'},
                    {name: 'Вовремя, без переплаты, без нервов'}])
                +line('col-md-12')
                +method-list('Результат для меня', [
                    {name: 'Еще один отличный проект в портфолио'},
                    {name: 'Ваши рекомендации моих услуг друзьям и знакомым '}])
                +line('col-md-12')
        +form_send()