.method__page{
  pb(260px)
  +pad(){
    pb(180px)
  }
  +mob(){
    pb(160px)
  }
  background-image $main_gradient
  .method__page__main__section{
    display flex
    flex-direction column
    align-items center
    position: relative
    hr(675px)
    wr(100%)
    mt(15px)
    +mob(){
      mt(18px)
      hr(457px)
    }
    .method__page__caption{
      z-index 40
      mt(41px)
      +mob(){
        mt(12px)
      }
    }
    .method__page__main__overlay{
      position: absolute
      z-index 30
      top 0
      left 0
      hr(100%)
      wr(100%)
      bg($color3_op)
    }
    img{
      position: absolute
      z-index 20
      wr(100%)
      hr(100%)
      object-fit cover
    }
    .method__page__main__section__text{
      mt(165px)
      z-index 40
      +pad(){
        mt(95px)
      }
      +mob(){
        mt(123px)
      }
      h3{
        mt(18px)
        opacity: 0.8
        co($color1)
        ff($regular)
        fs($font_m2)
        font-weight 400
        line-height: 26px
        letter-spacing: 1px
        +pad(){
          fs($font_m1)
        }
        +md(){
          fs($font_m)
        }
        +mob(){
          fs($font_m1)
          line-height 25px
          mb(10px)
          max-width 150px
        }
      }
      h1{
        ff($bold)
        fs($font_l3 + 20)
        co($color1)
        mt(13px)
        ml(52px)
        line-height 65px
        letter-spacing 5px
        +pad(){
          fs($font_l3 + 8)
          line-height normal
        }
        +md(){
          fs($font_l2 + 8)
          ml(0px)
        }
        +mob(){
          line-height 51px
          ml(0px)
          fs($font_l3)
          letter-spacing 2.3px
        }
      }
      .method__page__main__section__text__container{
        mt(28px)
        flex-direction column
        +pad(){
          mt(10px)
        }
        span{
          mt(23px)
          co($color1)
          ff($bold)
          fs($font_l2 + 3)
          line-height 26px
          letter-spacing 1.90px
        }
        p{
          mt(26px)
          color: #ffffff;
          ff($medium)
          fs($font_m2)
          line-height 22px
          letter-spacing 1px
          +md(){
            fs($font_m1)
          }
        }
      }
    }
  }
  //Content
  .method__page__content{
    position relative
    z-index 50
    .line{
      hr{
        mt(50px)
        mb(70px)
        +mob(){
          mt(39px)
          mb(83px)
        }
      }
      +mob(){
        &:last-child{
          hr{
            mb(20px!important)
          }
        }
      }
    }
    //Grey block
    .method__page__main__section__block__container{
      +mob(){
        pl(0px)
        pr(0px)
      }
      .method__page__main__section__block{
        max-width 652px
        mt(-214px)
        mb(180px)
        ml(0px)
        bg($color10)
        padding 54px 24px 50px 38px
        +md(){
          mb(100px)
        }
        +mob(){
          position relative
          mt(0px)
          ml(0px)
          mb(131px)
          wr(100%)
          max-width 100%
          padding 51px 0px 90px 0px
        }
        a{
          mt(25px)
          hr(61px)
          pb(2px)
          +mob(){
            mt(45px)
            pb(4px)
            fs($font_m1)
          }
        }
      }
    }
    .method__page__content__text{
      mb(160px)
      +mob(){
        mb(107px)
      }
      h2{
        mb(35px)
        fs($font_l + 8)
        letter-spacing 1px
        font-weight 500
        line-height 49px

        +mob(){
          mb(30px)
          fs($font_l + 4!important)
          line-height 38px
        }
      }
      p{
        fs($font_m)
        max-width:700px
      }
      &:last-child{
        .list{
          display none
        }
      }

    }
  }

  .method__page__list__container{
      mt(0px)
      mb(35px)
      +md(){
        mb(120px)
      }
      +mob(){
        mb(105px)
      }
    .method__page__list__caption{
      mb(78px)
      +md(){
        mb(50px)
      }
      +mob(){
        mb(48px)
      }
      h2{
        line-height 40px
        letter-spacing 3.3px
        fs($font_l + 6)
        +mob(){
          wr(100%)
          letter-spacing 1.7px
          fs($font_l + 3!important)
          line-height 39px
        }
      }
    }
    & .row.method__page__list:nth-child(2){
      pt(80px)
      pb(60px)
    }
    & .row.method__page__list:last-child{
      border none
    }
    &:last-child{
      .line{
        &:last-child{
          display none!important
        }
      }
    }
  }
}