.blog__main{
  .blog__slider__slide__arrow{
    bottom 61px
    mt(0px!important)
    +pad(){
      //mt(50px)
    }
    +mob(){
      bottom auto
      order 2
      mt(24px!important)

    }
    .next, .prev{
      wr(131px)
      hr(59px)
      +mob(){
        hr(55px)
        wr(50%)
      }
    }
  }

}
.blog {
  hr(auto);
  wr(100%);
  pt(258px);
  pb(199px);
  background-image $main_gradient
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  +pad(){
    pt(130px)
    pb(130px)
  }
  +mob(){
    pt(128px)
    pb(176px)
    background-image $main_gradient2
  }
  h2{
    fs($font_l2)
  }
}
#blog__slider {
  margin-top: 45px;
  display: flex!important;
  justify-content: flex-end;
  width: 100%;
  padding:0px;
  position: relative
  +mob(){
    mt(40px)
  }
  .blog__slider__slide__link{
    position absolute
    top 0
    left 0
    hr(100%)
    wr(100%)
    z-index 50
    a{
      display block
      hr(100%)
      wr(100%)
    }
    &:hover ~ .blog__slider__slide__text img{
      ml(30px)
    }
  }
  .slick-slide {
    display: flex;
    justify-content center

  }
  .blog__slider__slide__container {
    width: 100%!important;
    hr(530px)
    display: flex!important;
    justify-content: flex-end!important;
    +mob(){
      hr(auto)
    }
    .blog__slider__slide {
      position: relative
      display: flex!important;
      align-items flex-start
      .blog__slider__slide__text__row{

      }
      .blog__slider__slide__info {
        +mob(){
          order 2
          display: flex
          justify-content space-between
          mt(18px)
          opacity .5

        }
        h3 {
          mt(49px)
          mb(137px)
          fs($font_m)
          letter-spacing: 1px;
          max-width 150px
          +md(){
            line-height normal
          }
          +mob(){
            mt(0px)
            mb(0px)
            fs($font_m)
            line-height 20px
            letter-spacing 1.4px
          }
        }
        span {
          color: $color1;
          font-size: $font_m;
          letter-spacing: 1px;
          +mob(){
            fs($font_m)
            line-height 20px
          }
        }
      }
      .blog__slider__slide__text {
        z-index: 25;
        +mob(){
          order 3
          display flex
          flex-direction column
        }
        h2 {
          mt(40px)
          ff($medium);
          fs($font_l3);
          letter-spacing: 2px;
          line-height 50px
          +md(){
            fs($font_l2)
            mt(0px)
          }
          +mob(){
            fs($font_l2 - 2.5!important)
            mt(23px)
            letter-spacing 1.1px
            line-height 40px
          }
        }
        p {
          padding: 0px
          mt(30px)
          mb(42px)
          max-width: 342px
          fs($font_m)
          +md(){
            mt(30px)
            mb(30px)
          }
          +mob(){
            mt(41px)
            mb(45px)
            fs($font_m!important)
            letter-spacing .3px
          }
        }
    }
    .blog__slider__slide__text__h2{
      +mob(){
        order 1
      }
    }
    .blog__slider__slide__text__p{
      +mob(){
        order 3
      }
    }
}
  .blog__slider__slide__img {
    position absolute;
    right -95px;
    top 0;
    //hr(530px);
    hr(100%);
    +pad(){
      hr(370px)
      right -35px
    }
    +mob(){
      order 1
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      position: relative
      right auto
      hr(278px)
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
}
//note slider read more
.item__arrow {
  display: flex;
  align-items: center;
  +mob(){
    order 4
  }
a {
  opacity: .8;
  color: $color4;
  font-size: $font_m;
  font-family: $medium;
  letter-spacing: 1px;
  line-height: normal;
}
img {
  trans()
  wr(auto!important);
  hr(14px!important);
  ml(19px);
  +md(){
    hr(12px!important)
  }
  +mob(){
    ml(17px)
    hr(14px!important)
  }
}
}