mixin main_blog()
    section.blog.blog__main
        .container
            .row
                .col-md-6.animate__caption
                    h2 Блог
        #blog__slider.container-fluid
            -var mainBlogSlide = 1
            while mainBlogSlide <= 3
                //Slide
                .blog__slider__slide__container.container
                    .blog__slider__slide.row
                        .blog__slider__slide__link.col-md-12.only_d
                            a(href='#' target='')
                        .col-md-6.blog__slider__slide__img
                            +img('img/jpg/blog1.jpg')
                        .blog__slider__slide__info.col-md-2
                            h3 Новости архитектуры
                            span 01.07.18
                        .blog__slider__slide__text.col-md-8.col-lg-7
                            .row
                                .col-md-12.blog__slider__slide__text__h2
                                    h2 Миллион причин посетить новый шоу-рум в Киеве Scandinavian Home
                                .col-md-7.col-lg-8.blog__slider__slide__text__p
                                    p Я знаю как организовать процесс, чтобы все было в
                                        |  сроки, качественно и без лишних проблем.
                                        |  организую открытые данные о закупках …
                                        =mainBlogSlide++
                                .item__arrow.col-md-7.col-lg-8
                                    a(href='#' target='') Читать публикацию
                                    +img('img/svg/arrow_right.svg')
                                +slider-arrows('col-md-12 only_m')
        .container
            .row
                +slider-arrows('offset-lg-2 offset-md-2 col-md-7 only_d')