mixin form()
    form.row(method='POST' action='' style='display:' id="send_form")
        .col-md-6
            input(type='text',  placeholder='Введите ваше имя', name="name", required)
        .col-md-6
            input(type='email', placeholder='Ваша почта', name="email", required)
        .col-md-12
            textarea(rows='10', placeholder='Ваш вопрос' cols='45', name='text', required)
        .col-md-6
            input(type='submit', value="Отправить", name="submit")