mixin post_slider()
    .post__slider__container
        .post__slider
            +img('img/jpg/post.jpg')
            +img('img/jpg/post.jpg')
            +img('img/jpg/post.jpg')
        +slider-arrows('col-md-7')