//Post slider
.post__slider__container{
  //mt(50px)
  //mb(50px)
  .slick-slider{
    img{
        hr(auto)
        mb(0px)
    }
  }
  +mob(){
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    mb(110px)
  }
  position relative
  .blog__slider__slide__arrow{
    position: absolute
    bottom 0
    left 0
    mt(0px)
    pl(0px)
    +mob(){
      //col_margin()
      pr(0px)
      position: relative;
      width 100%
      display flex
      justify-content center
      align-items center
    }
    .slick-arrow{
      img{
        width auto
        ml(0px)
        mr(0px)
        hr(auto)
        mb(0px)
      }
    }
  }
  .prev{
    wr(133px)
    +mob(){
      ml(15px)
    }
  }
  .next{
    +mob(){
      mr(15px)
    }
  }
  .prev, .next{
    +mob(){
      wr(50%)
      hr(53px)
    }
  }
}