blockquote
  mt(120px)
  mb(100px)
  position relative
  p{
    fs($font_l1)
    co($color13)
    ff($medium)
    mb(0px!important)
    line-height: 36px;
    +mob(){
      mt(155px)
      line-height 30px
      fs($font_l)
    }
  }
  &:before, &:after
    position absolute
    display block
    wr(30px)
    hr(30px)
    line-height 1
    background-size: contain
    background-repeat: no-repeat
  &:before
    content ''
    background-image: url(../img/svg/open_quote.svg)
    left -60px
    top 5px
    +mob(){
      left 0px
      top -65px
    }
  &:after
    content ''
    background-image: url(../img/svg/close_quote.svg)
    right -60px
    bottom 48px
    +md(){
      right -20px
    }
    +mob(){
      right 5px
      bottom -5px
    }
  .author
    text-align center
    mt(25px)
    ff($regular)
    fs($font_m)
    co($color13)
    line-height 22px
    +mob(){
      text-align left
      fs($font_m + 1)
      mt(40px)
    }