mixin slider-b()
    .portfolio__slider__container
        .portfolio__slider
            -var portfolioSlide = 1
            while portfolioSlide <= 13
                //Slide
                .portfolio__slider__slide
                    .portfolio__slider__slide__text.container
                        .row.test
                            p.col-md-1 Строительство дома
                            h1.col-md-4 MARTIN House
                                | &nbsp;
                                =portfolioSlide++
                    .img__overlay
                    .portfolio__slider__slide__img
                        +img('img/jpg/portfolio1.jpg')
        .portfolio__slider__count
            .container
                .row
                    .portfolio__slider__count__info.offset-md-2.col-md-2
        .portfolio__slider__arrows.box
            .circle.out
                +icon-arrow-left()
            .prev
                +img('img/svg/icon_left_arrow.svg')
            .next
                +img('img/svg/icon_right_arrow.svg')