.portfolio__slider__container{
  position: relative
  mt(26px)
  mb(135px)
  +pad(){
    mb(50px)
  }
  +mob(){
    mt(18px)
    mb(60px)
  }
  .portfolio__slider__count{
    wr(100%)
    display: flex
    justify-content center
    position: absolute
    z-index 60
    bottom  70px
    left auto
    +mob(){
      bottom 27px
    }
    .portfolio__slider__count__info{
      co($color1)
      ff($medium)
      fs($font_l3 + 10)
      font-weight: 500
      line-height: 70px
      letter-spacing: 5px
      +mob(){
        fs($font_l2 + 8)
        letter-spacing 4px
      }
    }
  }
  .portfolio__slider__arrows{
    display flex
    position: absolute
    z-index 70
    top 0
    left 0
    wr(100%)
    hr(100%)
    +pad(){
      bottom 0px
      top auto
    }
    +mob(){
      bottom 0px
      top auto
    }
    .next, .prev{
      img{
        hr(59px!important)
        wr(59px!important)
      }
    }
    .prev{
      wr(50%)
      +pad(){
        bottom: 35px;
        right 35px;
      }
      +md(){
        right 25px
      }
      +mob(){
        bottom: 33px;
        right 15px;
      }
    }
    .next{
      wr(50%)
      +pad(){
        bottom 110px;
        right 35px;
      }
      +md(){
        right 25px
      }
      +mob(){
        bottom 112px;
        right 15px;
      }
    }
    .prev, .next{
      +pad(){
        cursor pointer;
        position: absolute;
        wr(auto)
      }
      +mob(){
        cursor pointer;
        position: absolute;
        wr(auto)
      }
      img{
        display none
        +pad(){
          display block
          hr(60px)
          wr(60px)
        }
        +mob(){
          display block
          hr(60px)
          wr(60px)
        }
      }
    }
  }
}
.portfolio__slider{
  .slick-list{
    overflow visible
  }
  .portfolio__slider__slide{
    display flex!important
    justify-content center
    hr(780px)
    position: relative
    +pad(){
      hr(600px)
    }
    +mob(){
      hr(460px)
    }
    .portfolio__slider__slide__text{
      position: absolute
      mt(-8px)
      top 0
      left auto
      z-index 60
      +mob(){
        mt(0px)
      }

      h1{
        mt(-10px)
        ml(18px)
        co($color1)
        ff($bold)
        fs($font_l4)
        line-height: 70px;
        letter-spacing: 7px;
        +mob(){
          ml(0px)
          mt(91px)
          letter-spacing 3px
          line-height 41px
          fs($font_l2 + 5)
          max-width 170px
        }
      }
      p{
        mt(78px)
        mr(75px)
        co($color1)
        ff($medium)
        fs($font_m)
        line-height: 20px
        letter-spacing: 1px
        +mob(){
          mt(27px)
          letter-spacing 1.3px
          fs($font_m1!important)
        }
      }
    }
    .img__overlay{
      position: absolute
      wr(100%)
      hr(100%)
      left 0
      top 0
      background $color4_op
      z-index 50
    }
    .portfolio__slider__slide__img{
        wr(100%)
        hr(100%)
        overflow hidden
      img{
        wr(100%)
        hr(100%)
        object-fit cover
        +mob(){
          object-position right
        }
      }
    }
  }
}

//Svg change way
.box {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: none;
  .circle {
    opacity 0
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    transition: height 0.5s, width 0.5s;
    +pad(){
      display none
    }
    +mob(){
      display none
    }
    .out{
      wr(0px)
      hr(0px)
    }
    #arrow{
      transition: 0.5s;
    }
  }
}
.mirrored {
  transform: scale(-1, 1);
}
//End svg change way
