.nav__container {
  pt(27px)
  pb(15px)
  z-index: 200
  top: 0
  left: 0
  hr(auto)
  wr(100%)
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  bg($color3)
  transition .2s
  transition-timing-function linear
  +mob(){
    pt(16px)
    pb(5px)
  }

  #mobile__icon{
    display none
    +mob(){
      display block
    }
  }
  /* Nav icon */
  #mobile__icon {
    z-index: 140
    hr(25px)
    wr(32px)
    top: 0px
    left: auto
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    span{
      display: block
      position: absolute
      hr(1.5px)
      wr(100%)
      bg($color4)
      opacity: 1
      top: 0px
      left: 0px
      -webkit-transform: rotate(0deg)
      transform: rotate(0deg)
      transition: .25s ease-in-out
      &:nth-child(1){
        top 0px
      }
      &:nth-child(2), &:nth-child(3){
        top: 12.5px
        left: auto !important
        right: 0px !important
        align-self: flex-end
      }
      &:nth-child(4){
        top:25px
      }
    }
  }
  /*End Nav icon */
  .logo__block {
    display flex
    justify-content space-between
    hr(35px)
    pr(30px)
    +mob(){
      pr(25px)
      pb(0px)
    }
    .logo {
      &:hover svg path {
        fill: $color6
      }
      svg{
        hr(100%)
        wr(auto)
        +md(){
          wr(100%)
        }
        +mob(){
          wr(100%)
        }
        //wr(100%)
        //object-fit: contain
        path{
          fill $color1
          transition .2s
          transition-timing-function linear
        }
      }
    }
  }
  .logo__block__1{
    .nav__des__logo{
        hr(100%)
        +mob(){
          hr(auto)
          wr(96px)
        }
    }
  }
  .logo__block__2, .logo__block__3{
    //Animate logo
    .logo{
      transform: translateY(388px) scale(2.1) translateX(6px);
      transition: .4s all ease;
      +md(){
        transform: translateY(243px) scale(2.1) translateX(6px);
      }
      +mob(){
        transform none!important
      }
    }
    .nav__mob__logo{
      wr(24px)
      hr(27px)
      +mob(){
      display block
    }
  }
}
.logo__block__3{
  .logo{
    transform translateY(306px) scale(1.7) translateX(5px)
    +md(){
      transform translateY(318px) scale(1.7) translateX(5px)
    }
  }
}
}
//Animate logo + navigation
.scroll{
  pt(15px)
  #navigation{
    pb(0px)
  }
  .row{
    align-items center
  }
  .logo__block__2, .logo__block__3{
    align-items flex-end
    pb(10px)
    .logo{
      transform: none!important;
    }
    svg{
      &:hover{
        bg($color6)
      }
    }
    .nav__mob__logo{
      display: flex
      justify-content center
      align-items center
      bg(white)
      hr(10px)
      wr(10px)
    }
    svg{
      transition .2s
      transition-timing-function linear
      path{
        opacity 0
      }
    }
  }
}


//Nav
#navigation{
  display flex
  justify-content space-between
  pb(4px)
  +mob(){
    display flex
    hr(100vh)
    wr(100%)
    position fixed
    justify-content center
    align-items center
    flex-direction column
    top 0px
    left -100%
    bg($color3)
    transition .3s
    transition-timing-function linear
  }
}

.nav {
  display: flex
  +mob(){
    flex-direction column
    wr(100%)
    align-items center
  }
  .active{
    co($color6)
  }
}
.navigation__links{
  display flex
  flex-wrap wrap
}
  .nav__link {
    +mob(){
      wr(100%)
      text-align center
      pt(10px)
      pb(10px)
    }
    a{
      co($color4);
      ff($regular);
      fs($font_m - 1);
      letter-spacing .5px
      mr(55px)
      +pad(){
        mr(30px)
      }
      +md(){
        mr(20px)
      }
      +mob(){
        mr(0px)
        fs($font_m1 + 2px)
      }
      &:hover {
        co($color6)
      }
    }
    &:last-child a{
      mr(0px)
    }
}
.lang {
    display: flex
    justify-content space-between
    +mob(){
      position: absolute
      top: 15px
      left: 25px
    }
  .lang__link {
    ff($medium)
    fs($font_m1)
    &:first-child a{
      mr(30px)
      +mob(){
        mr(30px)
      }
    }
    a{
      fs($font_m + 1)
      co($color4)
      &:hover {
        co($color1)
      }
      +md(){
        fs($font_s + 1)
      }
      +mob(){
        fs($font_m2)
      }
    }
  }
  .lang-active {
    a{
      co($color1)
    }
  }
}