//-Для всех страниц без анимации лого
mixin navigation-logo-1()
    nav#nav.nav__des.nav__container
        .container
            .row.align-items-end
                .logo__block.logo__block__1.col-md-2
                    a.logo(href='/' + url1 title="")
                        .nav__des__logo
                            +icon-main-logo
                    #mobile__icon
                        span
                        span
                        span
                        span
                #navigation.col-md-10
                    .navigation__links
                        .nav__link.only_m
                            a(href="/" + url1 title="") Главная
                        .nav__link.link-active
                            a(href="/" + url2 title="") Обо мне
                        .nav__link
                            a(href='/' + url3 title="") Услуги
                        .nav__link
                            a(href='/' + url4 title="") Метод работы
                        .nav__link
                            a(href='/' + url5 title="") Портфолио
                        .nav__link
                            a(href='/' + url6 title="") Блог
                        .nav__link
                            a(href='/' + url7 title="") Контакты
                    .lang
                        .lang__link
                            a(href='#' title="") Укр
                        .lang__link.lang-active
                            a(href='#' title="") Рус
//-Для Главной страницы (Важный класс для анимации лого .logo__block__2)
mixin navigation-logo-2()
    nav#nav.nav__container
        .container
            .row.align-items-end
                .logo__block.logo__block__2.col-md-2
                    a.logo(href='/' + url1 title="")
                        .nav__mob__logo
                            +icon-logo
                    #mobile__icon
                        span
                        span
                        span
                        span
                #navigation.col-md-10
                    .navigation__links
                        .nav__link.only_m
                            a(href="/" + url1 title="") Главная
                        .nav__link.link-active
                            a(href="/" + url2 title="") Обо мне
                        .nav__link
                            a(href='/' + url3 title="") Услуги
                        .nav__link
                            a(href='/' + url4 title="") Метод работы
                        .nav__link
                            a(href='/' + url5 title="") Портфолио
                        .nav__link
                            a(href='/' + url6 title="") Блог
                        .nav__link
                            a(href='/' + url7 title="") Контакты
                    .lang
                        .lang__link
                            a(href='#' title="") Укр
                        .lang__link.lang-active
                            a(href='#' title="") Рус
//-Для страницы Обо мне (Важный класс для анимации лого .logo__block__3)
mixin navigation-logo-3()
    nav#nav.nav__container
        .container
            .row.align-items-end
                .logo__block.logo__block__3.col-md-2
                    a.logo(href='/' + url1 title="")
                        .nav__mob__logo
                            +icon-logo
                    #mobile__icon
                        span
                        span
                        span
                        span
                #navigation.col-md-10
                    .navigation__links
                        .nav__link.only_m
                            a(href="/" + url1 title="") Главная
                        .nav__link.link-active
                            a(href="/" + url2 title="") Обо мне
                        .nav__link
                            a(href='/' + url3 title="") Услуги
                        .nav__link
                            a(href='/' + url4 title="") Метод работы
                        .nav__link
                            a(href='/' + url5 title="") Портфолио
                        .nav__link
                            a(href='/' + url6 title="") Блог
                        .nav__link
                            a(href='/' + url7 title="") Контакты
                    .lang
                        .lang__link
                            a(href='#' title="") Укр
                        .lang__link.lang-active
                            a(href='#' title="") Рус