mixin method-list(caption, array)
    .col-md-8.offset-lg-2.col-lg-10.method__page__list
        .row
            .col-lg-2
                h4.method-list= caption
            .col-lg-8
                ol
                    each val in array
                        li= val.name