.method__page__list{
  wr(100%)
  h4{
    co($color1)
    ff($medium)
    fs($font_m2)
    font-weight 500
    line-height 26px
    letter-spacing 1px
    +mob(){
      mb(42px)
      fs($font_l)
    }
  }
  ol{
    ml(33px)
    +md(){
      ml(0px)
      mt(20px)
    }
    +mob(){
      ml(0px)
    }
    li{
      mb(18px)
    }
  }
}