.flatpickr-calendar
  border-radius 0
  border r(1) solid $gr
  box-shadow none
  fs(16)

.flatpickr-input.active
  border-color blue

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after, .flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after
  display none

.flatpickr-prev-month svg path, .flatpickr-next-month svg path
  fill blue

.flatpickr-month
  height r(40)

.flatpickr-current-month
  span.cur-month
    co($bk)
  input.cur-year
    fw(400)

span.flatpickr-weekday
  co($gr)

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay
  co($gr)
  opacity .5

.flatpickr-day
  border-radius 0
  &:hover
    bg(lightblue)
    border-color lightblue

.flatpickr-day.today
  border-color blue

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay
  bg(blue)
  border-color blue
