@font-face{
    font-family: $regular;
    src : url("../fonts/RedRing/RedRing-Regular.ttf");
}
@font-face{
    font-family: $medium;
    src : url("../fonts/RedRing/RedRing-Medium.otf");
}
@font-face{
    font-family: $bold;
    src : url("../fonts/RedRing/RedRing-Bold.ttf");
}