footer.footer{
  +mob(){
    pt(63px)
  }
  bg($color3)
  pt(43px);
  .footer__container{
    display: flex;
    flex-direction: column;
    .footer__content{
      display: flex;
      justify-content: space-between;
      .footer__content__block{
        mb(40px)
        +mob(){
          mb(61px)
        }
        display: flex;
        flex-direction: column;
        h4{
          co($color1)
          ff($medium)
          fs($font_l)
          letter-spacing: 1px;
          font-weight 500
          mb(26px);
          +mob(){
            fs($font_l)
            mb(13px)
          }
        }
        a{
          co($color2)
          line-height: 28px;
          &:hover{
            color: $color6;
          }
          +mob(){
            fs($font_m1!important);
            line-height 35px;
          }
        }
        p{
          co($color2)
          +mob(){
            letter-spacing .3px
            line-height 30px
          }
        }
      }
      .footer__content__block-send{
        wr(auto)
        +mob(){
          mt(83px)
          wr(100%)
          mb(0px)
        h4{
          +mob(){
            line-height normal
          }
        }
        }
        p{
          +mob(){
            mt(12px)
          }
        }
        .contact__btn{
          mt(25px)
          wr(100%)
          hr(61px)
          pb(1px)
          co($color1)
          ff($medium)
          fs($font_m1)
          border 2px solid $color1
          line-height 24px
          letter-spacing 4px
          bg(transparent)
          +pad(){
            wr(100%)
          }
          +mob(){
            mt(24px)
            wr(100%)
            hr(60px)
          }
          &:hover{
            border 4px solid $color1
            co($color1)
          }
        }
      }
    }
  }
  .footer__copyright{
    mt(52px);
    display: flex
    justify-content: space-between
    +mob(){
      mt(121px)
    }
    .line{
      pl(0px)
      pr(0px)
      +mob(){
        pl(15px)
        pr(15px)
      }
      hr{
        mt(0px)
        mb(14px)
        +mob(){
          mb(24px)
        }
      }
    }
    p{
      co($color2)
      fs($font_s!important)
      line-height: normal;
      +mob(){
        fs($font_s!important)
      }
    }
  }
}