mixin footer()
    footer.footer
        .footer__container.container
            .footer__content.row
                .footer__content__block.col-md-6.col-lg-2
                    h4  Больше
                    a(href="#" target="") Обо мне
                    a(href="#" target="") Проекты
                    a(href="#" target="") Блог
                .footer__content__block.col-md-6.col-lg-2
                    h4  Услуги
                    a(href="#" target="") Управление
                    a(href="#" target="") Консультирование
                    a(href="#" target="") Ремонт
                    a(href="#" target="") Строительство
                    a(href="#" target="") Решение проблем
                    a(href="#" target="") Мебель
                +contacts_block('col-md-6 offset-lg-1 col-lg-3')
                .footer__content__block.footer__content__block-send.col-md-6.offset-lg-1.col-lg-3
                    h4 Отправка заявки
                    p Напишите нам о своей задаче, и мы свяжемся с Вами в скором времени
                    +btn('Связаться', 'contact__btn')
            .row.footer__copyright
                +line('col-md-12')
                .col-md-6.col-4
                    p Copyright
                .col-md-6.col-8
                    +link-volta()