.contacts__page{
  mt(77px)
  pb(260px)
  background-image: $main_gradient;
  +md(){
    pb(190px)
  }
  +mob(){
    pb(160px)
  }
  //Contacts form in contacts page
  .contacts__form{
    mt(183px)
    +mob(){
      mt(131px!important)
    }
    .form__text{
      mb(45px)
      h3{
        mb(25px)
      }
      h6{
        line-height 21px
      }
    }
  }

  .contacts__block_caption{
    display none
  }
  .header__name{
    mt(58px)
    +mob(){
      fs($font_l2 + 6)
    }
  }
  .contacts__container{
    justify-content space-between
    mt(70px)
    mb(160px)
    +mob(){
      mt(39px)
      mb(140px)
    }
  }

  .contacts__block{
    p,a{
      co($color1)
    }
  }
  .contacts__block__container{
    +mob(){
      mt(52px)
      mb(58px)
    }
    .contacts__block__contact{
      +mob(){
        mt(28px);
      }
    }
    .contacts__block__social{
      mt(38px)
      +mob(){
        mt(36px)
        flex-direction row
        justify-content flex-start
        a{
          mr(42px)
        }
      }
    }
  }
  //Contact page btn
  .btn_primary1{
    +mob(){
      letter-spacing 4px
      fs($font_m1)
      pb(2px)
    }
  }
}

.contacts__block__container {
  +pad() {
    pr(0px)
  }
}

//Contacts form
.contacts__form{
  mt(153px)
  +pad(){
    mt(120px)
  }
  +mob(){
    mt(102px!important)
  }
}