mixin contacts(className)
    section.contacts__page.mt__page
        .container
            +breadcrumbs('Контакты')
            +header_name('Контакты')
            .row.contacts__container
                .contacts__block.col-md-5.col-lg-4
                    p Если вы хотите, чтобы задачи были выполнены,
                        | а проблемы решены — звоните: договоримся
                        | о встрече в удобное для вас время.
                +contacts_block('col-md-6 col-lg-3')
                .col-md-4.col-lg-3
                    +btn('Связаться', 'btn_primary1 btn_primary1_right')
        #map
        +map-snazzy()
        +form_send('Нужна консультация ?', 'col-md-8')