.portfolio {
	hr(auto);
	wr(100%);
	mt(192px);
	display: flex;
	flex-direction: column;
	+md(){
		mt(150px)
	}
	+mob(){
		mt(117px)
	}
	h2 {
		mb(48px)
		+mob(){
			mb(58px)
			fs($font_l2)
		}
	}
}
.portfolio__project {
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	+mob(){
		flex-direction column
	}
	.img__overlay {
		position: absolute;
		z-index: 30;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.2);
	}
	.link__overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 60;
		cursor none
		overflow hidden
		.follower_out{
			+pad(){
				top 50%
				left 50%
			}
			+md(){
				top 60%
			}
			+mob(){
				top: 290px
				right 15px
				wr(58px)
				hr(58px)
				img{
					wr(100%)
					hr(100%)
				}
			}
		}
	}
	img {
		position: absolute;
		z-index: 20;
		height: 100%;
		width: 100%;
		object-fit: cover;
		+mob(){
			position relative
			hr(460px)
			wr(auto)
			object-fit contain
		}
	}
	.portfolio__project__container {
		height: 780px - 170px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items flex-start
		margin-top 170px
		z-index: 40;
		+md(){
			hr(350px)
			mt(100px)
		}
		+mob(){
			top: 0px
			left: 0px
			position: absolute
			hr(auto)
			mt(0px)
		}
		h3 {
			opacity: .8;
			font-size: $font_m2;
			line-height: 26px;
			letter-spacing: 1px;
			+md(){
				fs($font_m1)
			}
			+mob(){
				mt(25px)
				fs($font_m1)
				letter-spacing 1.5px
			}
		}
		.portfolio__project__text {
			display: flex;
			justify-content: space-between;
			pl(11px)
			h5 {
				mt(10px)
				color: $color1;
				font-family: $bold;
				font-size: $font_l4 - 1;
				line-height: 71px;
				letter-spacing: 8px
				+md(){
					line-height 60px
					fs($font_l3 + 15)
				}
				+mob(){
					max-width 50%
					mt(95px)
					fs($font_l2 + 7)
					letter-spacing 3px
					line-height 40px
				}
			}
		}
		.portfolio__project__info {
			display: flex;
			flex-direction: column;
			mt(7.5px)
			+mob(){
				max-width 240px
				mt(67px)
			}
			span {
				color: $color1;
				font-family: $bold;
				font-size: $font_l1;
				line-height: 25px;
				letter-spacing: 1.20px;
				+mob(){
					fs($font_m2 - 1)
					letter-spacing 1.3px
				}
			}
			p {
				mt(36px)
				ff($medium)
				fs($font_m2)
				line-height 22px
				letter-spacing: 1px;
				+md(){
					fs($font_m1)
				}
				+mob(){
					fs($font_m!important)
					mt(17px)
					line-height: 20px
				}
			}
		}
	}
	.portfolio__project__panel__container {
		position: absolute;
		hr(100px);
		top: auto;
		left: auto;
		z-index: 65;
		pr(30px)
		+md(){
			pr(15px)
		}
		+mob(){
			position relative
			hr(auto)
			pr(15px)
			//padding 0px
		}
		.portfolio__project__panel {
			display: flex;
			position: absolute;
			bottom: -50px;
			hr(100px);
			background-color: $color10;
			max-width 945px
			+mob(){
				max-width 100%
				hr(auto)
				display: flex
				flex-wrap wrap
				position: relative
				wr(100%)
				right 0px
				bottom 0px
				padding 0px
			}
			.portfolio__project__panel__text {
				pl(18px)
				pt(12px)
				+mob(){
					pt(0px)
					pl(14px)
					mt(10px)
					mb(22px)
				}
				span {
					opacity: .5;
					color: $color1;
					font-family: $regular;
					font-size: $font_s;
					line-height: 16px;
					letter-spacing: 1px;
					+mob(){
						fs($font_s - 1)
						line-height 14px
						letter-spacing .6px
					}
				}
				p {
					color: $color1;
					font-family: $bold;
					font-size: $font_m1;
					text-transform: uppercase;
					letter-spacing: 1.45px;
					line-height: 20px;
					mb(0px)
					+mob(){
						mt(7px)
						fs($font_m1 - 1!important)
						line-height 21px
					}
				}
			}
			.portfolio__project__panel__line{
				pl(28px)
				+mob(){
					pl(0px)
				}
				&:after{
					content ''
					position absolute
					top 15%
					left 12px
					height 70%
					width 1px
					bg($color1_op)
					+mob(){
						left 0px
					}
				}
			}
			.portfolio__btn{
				pr(0px)
				pl(34px)
				+md(){
					mr(-2px)
					pl(0px)
				}
				+mob(){
					pl(0px)
				}
				a {
					pr(4px)
					pb(7px)
					letter-spacing 4.5px
					top: 0;
					right: 0;
					+md(){
						letter-spacing 2px
					}
					+mob(){
						pr(0px)
						pl(0px)
						pb(7px)
						position: relative
						wr(100%)
						hr(80px)
						letter-spacing 4.7px
						fs($font_m1 - 1)
					}
				}
			}
		}
	}
}