mixin main_portfolio()
    section.portfolio
        .container
            .row
                .col-md-6.animate__caption
                    h2 Проекты
        .portfolio__project
            .img__overlay
            a(href="project.html" target="").link__overlay
                .follower.follower_out
                    img(src='img/svg/plus.svg' alt='')
            +img('img/jpg/portfolio1.jpg')
            .portfolio__project__container.container
                .row
                    .col-md-3.col-lg-2
                        h3 Строительство дома
                    .portfolio__project__text.col-md-5.col-lg-3
                        h5 MARTIN House
                    .portfolio__project__info.col-md-4.offset-lg-4.col-lg-3
                        .row
                            .col-md-12
                                span 235 КВ. М.
                            .col-md-12
                                p Киевская область, поселок Шпитьки
            .portfolio__project__panel__container.container
                .row.justify-content-end
                    .col-md-12.col-lg-10.portfolio__project__panel
                        .row.justify-content-between
                            .col-6.col-md-4.col-lg-3.col-sm-6
                                .row.portfolio__project__panel__text
                                    .col-12
                                        span Интерьер квартиры
                                    .col-8
                                        p Dominikana light
                            .col-6.col-md-4.col-lg-3.portfolio__project__panel__line
                                .row.portfolio__project__panel__text
                                    .col-12
                                        span Мебельное решение
                                    .col-8
                                        p Danian fresh
                            .col-md-4.col-lg-5.portfolio__btn
                                +btn2('Все портфолио', 'portfolio.html', '')