mixin li-a(text, className)
    li
        +a(text, className)

mixin a(text, className)
    a(href='' title='' class= className)= text

mixin scroll_nav_link(text, className, url)
    a(href= url title='' class= className)= text