a
  text-decoration none
  trans()
  co($color1)
  svg g 
    trans()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width r(50)
  img
    width 100%


