input, textarea
  -webkit-appearance none
  width 100%
  display block
  border 3px solid $color7
  border-radius: 0;
  pl(26px)
  pt(20px)
  pb(20px)
  bg(transparent)
  ff($medium);
  fs($font_m1);
  co($color1)
  line-height: 12px;
  font-weight 500
  trans()
  +mob(){
    fs($font_m + 1)
    wr(100%!important)
    mb(20px)
  }
  &:focus
    outline none
    border 3px solid $color1
  +placeholder()
    opacity 1
    transition: text-indent 0.3s ease;
    co($color4)
    opacity .8;
    ff($medium);
    fs($font_m1);
    line-height: 12px;
  +placeholder-focus()
    opacity 0
    co($color1)
    transition: text-indent 0.3s ease;

.error
  border 3px solid $error
  +placeholder()
    co($error)
input
  hr(60px)
  &:-webkit-autofill
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #999 !important

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none;
  margin: 0;

input[type=number]
  -moz-appearance:textfield;

input[type=submit]
  bg($color3)
  co($color1)
  line-height: 25px;
  letter-spacing: 4px;
  border none
  cursor pointer
  hr(64px)
  pr(27px)
  pt(7px)
  pb(10px)
  +mob(){
    pb(12px)
    pl(33px)
    letter-spacing 4.4px
  }
  
label
  pl(16)
  fw(700)
  fs(16)
  mb(13)

textarea
  mt(25px)
  mb(40px)
  pt(19px)
  resize none
  hr(140px)
  +mob(){
    pt(20px)
    hr(142px)
    mt(0px!important)
    mb(28px!important)
  }



