.post__page__view{
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  .post__page__view__container{
    display flex
  }
  .post__page__view__icon{
    &:nth-child(2){
      ml(50px)
      +mob(){
        ml(45px)
      }
    }

    svg{
      hr(12px)
      path{
        fill $color13
        transition .2s
        transition-timing-function linear
      }
    }
    span{
      ml(10px)
      co($color13);
      ff($regular_f)
      fs($font_m);
      transition .2s
      transition-timing-function linear
      line-height: 22px;
      +mob(){
        fs($font_m1)
      }
    }
  }
}

.post__page__view__btn__container{
  position relative
  wr(263px)
  max-width 263px
  overflow hidden
  +mob(){
    mt(43px)
    wr(100%)
    max-width 100%
  }
  &:hover{
    .post__page__view__social{
      bottom 0px
    }
  }
  .post__page__view__social{
    display flex
    position absolute
    bottom -100%
    //bottom 0px
    left 0px
    wr(100%)
    hr(100%)
    bg($color3)
    transition .2s
    transition-timing-function linear
    .fb_share{
      bg(#2b52a6)
    }
    .tw_share{
      bg(#41abe1)
    }
    .link_share{
      bg(#808b97)
    }
    a{
      display flex
      flex  1
      justify-content center
      align-items center
      hr(100%)
      svg{
        wr(22px)
        hr(22px)
      }
      &:hover{
        opacity .8
      }
    }
  }
}

.share__btn{
  //mt(50px)
  display flex
  justify-content center
  align-items center
  bg($color3)
  wr(100%)
  //hr(61px)
  hr(56px)
  pb(4px)
  co($color1);
  ff($medium);
  fs($font_m1)
  line-height: 25px;
  letter-spacing: 3px;
  img{
    hr(auto)
    wr(20px)
    mr(20px)
  }
  +mob(){
    hr(56px)
    fs($font_m1)
  }
}
