mixin share(className)
    .post__page__view.offset-md-2.col-md-8
        .post__page__view__container
            .post__page__view__icon(class=( share= className + ''))
                +icon-eye()
                span 101
            .post__page__view__icon(class=( share= className + ''))
                +icon-share()
                span 53
        .post__page__view__btn__container
            button#share__btn.share__btn
                +img('/img/svg/icon_share_white.svg')
                |Поделиться
            .post__page__view__social
                a(href='#!' target='_blank' class='fb_share')
                    +icon-fb-share()
                a(href='#!' target='_blank' class='tw_share')
                    +icon-tw-share()
                a(href='#!' target='_blank' class='link_share')
                    +icon-link-share()