mixin contacts_block(className)
    .contacts__block.contacts__block__container(class=className)
        h4.contacts__block_caption  Контакты
        p Адрес: 00100 г.Киев
        p ул Богдана Хмельницкого 30/10
        .contacts__block__contact
            p тел.: <a href="tel:+380998887766">+38 099 888 77 66</a>
            p e-mail: <a href="mailto:vladdyrin@gmail.com">vladdyrin@gmail.com</a>
        .contacts__block__social
            a(href="#" target="")
                +icon-fb
            a(href="#" target="")
                +icon-google-plus