//Contacts info
.contacts__block{
  display: flex;
  flex-direction: column;
  h4{
    color: $color1;
    font-family: $medium;
    font-size: $font_l;
    letter-spacing: 1px;
    font-weight 500
    mb(26px);
    +mob(){
      fs($font_l)
      mb(13px)
    }
  }
  .contacts__block__contact{
    mt(28px)
    +mob(){
      mt(27px)
    }
    a{
      &:hover{
        text-decoration: underline
      }
    }
  }
  a{
    color: $color2;
    font-family: $regular;
    font-size: $font_m;
    line-height: 28px;
    &:hover{
      color: $color6;
    }
  }
  p{
    color: $color2;
    font-family: $regular;
    font-size: $font_m;
    mb(0px)
    +mob(){
      fs($font_m + 1!important)
    }
    a{
      fs($font_m!important)
      color: $color1;
      +mob(){
        fs($font_m!important)
      }
    }
  }
  .contacts__block__social{
    mt(35px);
    display: flex;
    +mob(){
      mt(39px)
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    a{
      hr(25px);
      wr(25px);
      mr(43px);
      &:hover path{
        fill: $color6
      }
      path{
        fill: $color1
        trans()
      }
      svg{
        hr(100%)
        wr(100%)
      }
      +mob(){
        hr(29px)
        wr(26px)
        mr(54px)
      }
    }
  }
}