select
  width 100%
  bg($wt)
  border r(1) solid $gr
  padding r(12) r(15) r(13)
  border-radius 0
  display block
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none

.select-group
  position relative
  &:after
    triangle($bk, down, r(4))
    top calc(50% - 2px)
    right r(15)