.select2-container--default
  .select2-selection--single
    border r(1) solid #ccc
    border-radius 0
    height auto
    trans()
    &:focus
      outline none
      border-color blue
    .select2-selection__clear
      right r(20)
    .select2-selection__rendered
      co($bk)
      fs(16)
      line-height normal
      padding r(12) r(15) r(13)
    .select2-selection__arrow
      top calc(50% - r(15))
      right r(9)
      b
        border-color: $bk transparent transparent transparent;
        trans()

  .select2-results__option[aria-selected=true]
    margin-bottom 0
    bg($gr2)
    co($wt)

  .select2-results__option--highlighted[aria-selected]
    bg(blue)
    co($wt)

  .select2-results__option.select2-results__message
    bg($wt)
    fs(14)
    co(#999)
    padding r(12) r(10) r(13)

  .select2-search--dropdown .select2-search__field
      fs(16)
      mb(12)
      border r(1) solid $gr2
      padding r(11) r(10) r(12)

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
  border-color blue
  border-bottom-color $tr

.select2-container--open .select2-dropdown--below
  border r(1) solid blue
  border-top 0
  border-radius 0

.select2-results__option
  padding r(12) r(15) r(13)
  fs(16)

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
  border-color: $bk transparent transparent transparent;
  transform rotate(180deg)
  border-width: r(5) r(4) 0 r(4)
