//https://css-tricks.com/custom-list-number-styling/
ul, ol
  //display flex
  padding 0
  margin 0
ul, ol{
  li{
    +mob(){
      fs($font_m!important)
    }
  }
}

ul{
  list-style none
  counter-reset: my-awesome-counter;
  pl(20px)
  li{
    counter-increment: my-awesome-counter;
    pl(20px)

    mb(18px)
    co($color1);
    ff($regular)
    fs($font_m);
    line-height: 28px;
    &:before{
      position absolute
      left 15px
      content: counter(my-awesome-counter) ". ";
      co($color7)
    }
  }
}

ol{
  li{
    display flex
    position: relative
    pl(48px)
    list-style none
    mb(20px)
    co($color1);
    ff($regular)
    fs($font_m);
    line-height: 28px;
    &::before{
      content ''
      position: absolute
      mr(20px)
      top 16px
      left 0
      hr(2px)
      wr(29px)
      background-color $color7
      +mob(){
        wr(20px)
        top 14px
      }
    }
    +mob(){
      pl(40px)
    }
  }
}