//- Todo возможно подойдет
    mixin ul(className, array)
        -var n = 1
        ul(class= className)
            each val in array
                li
                    = n++
                    p
                    = val.name
//

mixin ul(className, array)
    ul(class= className)
        each val in array
            li= val.name

mixin ul-a(className, array)
    ul(class= className)
        each val in array
            li
                a(href= val.href title='' target='')
                    = val.name

mixin ol(className, array)
    ol(class= className)
        each val in array
            li= val.name