mixin about_road()
    section.about__main__road
        .container
            .row
                //title array[name, href]
                +scroll_nav('Задача', [
                    {name: 'Задача', href: '#link1'},
                    {name: 'Строительство', href: '#link2'},
                    {name: 'Интерьер', href: '#link3'}
                ])
                .about__main__road__container.col-md-9.col-lg-10
                    .section.row.about__main__road__block#link1
                        .col-lg-10.animate__caption
                            h2 Моя задача — максимально освободить клиента от строительных вопросов и проблем
                        .col-lg-8.animate__text
                            p Моя главная профессиональная черта — повышенное чувство ответственности.
                                | Я отвечаю за каждое свое решение как менеджера, за решения клиента перед партнерами
                                | и подрядчиками, а также за результат работы всей проектной команды и привлеченных специалистов. С одной стороны это делает меня надежным управляющим проектов,
                                | а с другой — очень требовательным руководителем, поэтому в моей компании работают самые стойкие и проверенные люди.
                    .section.row.about__main__road__block#link2
                        .col-lg-5
                            .row
                                .col-lg-12.animate__caption
                                    h2 Строительные услуги —
                                        | мое призвание
                                .col-lg-12.animate__text
                                    p Я занимаюсь менеджментом строительных и ремонтных проектов более 5 лет, но интересуюсь данной сферой практически с рождения. Мои родители работали
                                        | на архитектурно-строительных предприятиях, поэтому
                                        | ко всему, связанному с этой деятельностью, я отношусь
                                        | с трепетом и уважением.
                        .animate__img.about__main__road__block-img-b.offset-lg-1.col-lg-6
                            +img('img/jpg/road_img_b.jpg')
                        .animate__img.about__main__road__block-img-s.col-lg-5.col-lg-4
                            +img('img/jpg/road_img_s.jpg')
                    .section.row.about__main__road__block#link3
                        .col-lg-10.animate__caption
                            h2 Предлагаю интерьерные
                                | и мебельные решения
                        .col-lg-8.animate__text
                            p Еще одна моя страсть — это дизайн интерьеров и качественная итальянская мебель.
                                | Ее я реализую в салоне интерьеров CONCEPT HOUSE: поставки мебели, дверей, освещения,
                                | сантехники и плитки напрямую с итальянских фабрик позволяют предлагать моим клиентам исключительные мебельные
                                | решения по самым приятным ценам.