//About content
.about__main__road{
  background-image: $main_gradient
  pb(273px)
  +mob(){
    pb(160px)
  }
  .scroll_nav_container{
    mt(30px)
  }
  //Пока что не используем = возможно позже нужно будет навигация
  .scroll_nav{
    +mob(){
      display none
      position fixed
      z-index: 70;
    }
  }
  .scroll_nav_dropdown{
    +mob(){
      display none
    }
  }
  .scroll_nav_dropdown_active{
    +mob(){
      display block
    }
  }
  .row{
    position relative
    .about__main__road__container{
      .about__main__road__block{
        pt(35px)
        display flex
        flex-wrap wrap
        mb(132px)
        +pad(){
          pt(0px)
          mb(150px)
        }
        +mob(){
          pt(0px)
          mt(47px)
          mb(105px)
        }
        &:last-child{
            mb(0px)
        }
        h2{
          fs($font_l2 - 1)
          ff($medium)
          letter-spacing: 1.5px;
          line-height: 42px;
          mb(28px)
          +mob(){
            font-weight 500
            mb(30px)
            line-height 39px
            fs($font_l + 3.5!important)
          }
        }
        .about__main__road__block-img-b{
          img{
            mt(17px)
            wr(100%)
            hr(520px)
            object-fit cover
            +mob(){
              mt(142px)
              wr(100%)
              hr(330px)
              object-fit cover
            }
          }
        }
        .about__main__road__block-img-s{
          mt(-150px)
          +pad(){
            mt(-100px)
          }
          +md(){
            mt(35px)
          }
          +mob(){
            mt(80px)
          }
          img{
            wr(262px)
            hr(300px)
            object-fit cover
            +pad(){
              hr(250px)
            }
            +mob(){
              float right
              max-width 210px
              hr(240px)
            }
          }
        }
      }
    }
  }
}