.link-volta
  //display inline-flex
  co(#52555A)
  fs(12px)
  +mob(){
    fs($font_s - 1!important)
  }
  float right
  svg
    ml(9px)
    +mob(){
      hr(12px)
      wr(auto)
      ml(12px)
      mr(5px)
    }
    path, polygon
      fill #52555A
      trans()
  &:hover
    co($color1)
    svg path, svg polygon
      fill $color1