.main {
  pt(395px);
  pb(345px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  hr(auto);
  +md(){
    pt(250px)
    pb(250px)
  }
  +mob(){
    pt(288px)
    pb(0px)
  }
  .main__btn{
    display flex
    justify-content flex-end
    +mob(){
      order 4
    }
  }
  .main__img {
    top: 0;
    left: 0;
    hr(100%);
    wr(100%);
    z-index: 50;
    position: absolute;
    object-fit: contain;
    object-position center -18px
    +md(){
      object-position center
    }
    +mob(){
      hr(515px);
      object-fit: cover;
      object-position 52% -35px
    }
  }
  .container {
    z-index: 60;
    .main__top__logo {
      wr(auto)
      hr(auto)
      +mob(){
        display none
      }
      img{
        wr(auto)
        hr(56px)
        +md(){
          wr(100%)
          hr(auto)
        }
        +mob(){
          hr(30px)
        }
      }
      svg{
        position absolute
        top 0
        left 0
        object-fit contain
        object-position left
        wr(100%)
        hr(100%)
      }
    }
    .main__top__text {
      position relative
      display flex
      flex-direction column
      +mob(){
        order 1
      }
      p{
        position absolute
        top -58px
        co($color8)
        fs($font_m1)
        letter-spacing 1px
        +mob(){
          position relative
          top auto
        }
      }
      .main__top__text__name {
        hr(100%)
        wr(100%)
        img {
          wr(auto)
          hr(123px)
          +md(){
            wr(100%)
            hr(auto)
          }
          +mob(){
            hr(76px)
          }
        }
        +mob(){
          mt(15px)
        }
      }
    }

    .main__bottom {
      position relative
      mt(90px)
      +mob(){
        mt(41px)
        mb(35px)
        order 3
      }
      &:before {
        position absolute
        content ''
        top 0
        left 15px
        wr(2px)
        bg($color13)
        hr(0%)
        animation line 3s ease-in infinite
        +mob(){
         animation none
        }
      }
      p {
        fs($font_m1)
      }
    }
  }
}