mixin main_section()
    section.main
        +img('img/jpg/person1.jpg', 'main__img')
        .container
            .row
                .main__top__text.offset-md-2.col-md-3
                    .animate_left
                        p Мое имя
                    .main__top__text__name.animate_left
                        +img('img/svg/name.svg')
                .main__btn.offset-lg-4.offset-md-3.col-md-4.col-lg-3
                    +btn('Связаться','btn_primary1')
                .main__bottom.col-md-12.col-lg-8
                    .row
                        .col.offset-md-2.offset-lg-3.col-md-5.col-lg-6
                            p.animate_left Ремонт и строительство - это удовольствие,
                                | когда вы видите только результат.
                                | Процесс я беру на себя.