.breadcrumbs
  display flex
  padding 0px
  list-style none
  z-index 50
  li
    position relative
    co($bread)
    padding 0px
    mb(0px!important)
    mr(15px)
    fs(13.5px)
    +mob(){
      fs(14px!important)
    }
    &:before{
      content ''
    }
    &:after
      ba()
      content '/';
      right -11px
      top 0
    &:last-child
      to()
      &:after
        display none
    a {
      co($bread)
      white-space: nowrap
      &:hover {
        co($color6)
      }
      &.active {
        cursor default
        pointer-events: none
        co($color6)
      }
      +mob() {
        fs(14px)
      }
      span{
        co($bread)
        &:hover{
          co($color6)
        }
        &.active {
          cursor default
          pointer-events: none
          co($color6)
        }
      }
    }