extend templates/_template1.pug

block title
    | 404

block content
    section.container.mt__page.page_404
        +breadcrumbs('404')
        .row
            .col
                .page__404__block
                    h2 404
                    +btn3('Назад на Главную', 'index.html', 'btn_primary1')