extend templates/_template1.pug

block title
    | Страницы


block content



    -var n = 1

    -array = [{name: 'Главная', href: 'index.html'}, {name: 'Обо мне', href: 'about.html'}, {name: 'Метод работы', href: 'method.html'}, {name: 'Портфолио', href: 'portfolio.html'}, {name: 'Проекты', href: 'project.html'}, {name: 'Блог', href: 'blog.html'},{name: 'Посты', href: 'post.html'}, {name: 'Контакты', href: 'contacts.html'}, {name: 'Сервис', href: 'service.html'}, {name: '404', href: '404.html'} ]

    section.pages
        .container
            .row
                each val in array
                    .col-md-4.col-lg-3
                        a(href= val.href title='' target='_blank' style='margin-bottom:25px').btn.btn_primary1
                            = n++
                            | .
                            | &nbsp;
                            = val.name