mixin post_content()
    section.post__page.mt__page
        .container
            +breadcrumbs('Блог / Миллион причин посетить новый шоу-рум в Киеве Scandinavian Home')
            .post__page__container.row
                +post_info()
                .post__page__content.col-md-10.col-lg-8
                    h1 Миллион причин посетить новый шоу-рум в Киеве Scandinavian Home
                    +img('img/jpg/post.jpg')
                    h3 Заголовок номер 1
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        | используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                        | заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
                        | новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и,
                        | в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                        | которых используется Lorem Ipsum.
                    h3  Заголовок номер 2
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        | стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
                        | печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
                        | образцов.
                    h3 Нумерованный список
                    +ul('', [
                        {name: 'Контроль проведения работ (качество, объёмы, техника).'},
                        {name: 'Контроль закупок и проверка смет в проекте.'},
                        {name: 'Проведение тендеров и оценка предложений в интересах клиента.'},
                        {name: 'Персональная ответственность за доведение и обоснование решений по проекту.'},
                        {name: 'Отчетность по выполнению работ.'},
                    ])
                    h3  Маркированный список
                    +ol('', [
                        {name: 'Контроль проведения работ (качество, объёмы, техника).'},
                        {name: 'Контроль закупок и проверка смет в проекте.'},
                        {name: 'Проведение тендеров и оценка предложений в интересах клиента.'},
                        {name: 'Персональная ответственность за доведение и обоснование решений по проекту.'},
                        {name: 'Отчетность по выполнению работ.'},
                    ])
                    +post_slider()
                    blockquote
                        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        .author Автор цитати
                    h3 Заголовок номер 3
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        | используя Lorem Ipsum для распечатки образцов.
                    h3  Ссылки:
                    +ul-a('post__page__links', [
                        {
                            name: 'Annex_Application Form_HealthLink_Jan_2018.',
                            href: '#'
                        },
                        {name: 'Annex_Budget_HealthLink_Jan2018', href: '#'},
                        {name: 'Annex_Work Plan_HealthLink_Jan2018', href: '#'},
                        {name: 'Annex_Personnel_HealthLink_Jan2018', href: '#'},
                        {
                            name: 'Annex_Table_of_Indicators_HealtyhLink_Jan2018',
                            href: '#'
                        },
                        {
                            name: 'Annex_Case Specification_HealtyhLink_Jan2018',
                            href: '#'
                        }
                    ])
                    .row.post__page__content__img
                        +post_img()
                        +post_img()
                    h3 Заголовок номер 4
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        | используя Lorem Ipsum для распечатки образцов.
                +share('')
                +line('col-md-12')
            .container.post__page__btn__container
                .row.justify-content-md-center
                    .col-md-8.post__page__btn__block
                        +btn2('Ко всем новостям', '#', 'post__page__btn')