.post__page{
  pb(260px)
  background-image: $main_gradient
  +mob(){
    pb(180px)
  }
  ul{
    li{
      mb(18px)
      +mob(){
        mb(18px)
      }
    }
  }
  ol{
    li{
      mb(18px)
    }
  }
  //Post block
  .line{
    hr{
      border none
      hr(2px)
      bg($color1)
      opacity .12
      mt(70px)
      mb(60px)
      +mob(){
        mt(101px)
        mb(70px)
      }
    }
  }

  p{
    mb(90px)
    +mob(){
      mb(70px)
    }
  }
  h1{
    mb(87px)
    fs($font_l2 + 8);
    mt(13px)
    letter-spacing 2.2px
    font-weight 500
    line-height 52px
    +mob(){
      fs($font_l + 7!important);
      mt(24px)
      mb(58px)
      line-height 41px
      letter-spacing 1.8px
    }
  }
  h3{
    co($color1);
    ff($medium);
    fs($font_l1);
    //mt(80px)
    mb(40px)
    line-height: 36px;
    +mob(){
      fs($font_l + 2)
      //mt(72px)
      mb(37px)
    }
  }
  .post__page__container {
    mt(100px)
    +pad(){
      mt(50px)
    }
    +mob(){
      mt(20px)
    }
  }
  .post__block__info {
    pt(15px)
    +mob(){
      pt(4px)
    }
    a{
      fs($font_m + 1!important)
      +md(){
        fs($font_s!important)
      }
    }
    span {
      mt(60px)
      +mob(){
        mt(0px)
        fs($font_m - 1)
      }
    }
  }
  .post__page__content__img{
    mt(70px)
    mb(50px)
    justify-content space-between
    img{
      hr(auto!important)
      mb(30px!important)
      +pad(){
        wr(100%)
      }
    }
  }

  .post__page__content{
    ul,ol{
      mb(90px)
    }
    ul{
      list-style none
      pl(15px)
      li{
        pl(32px)
        +mob(){
          pl(25px)
        }
      }
    }
    ol{
      mb(66px)
    }
    img{
      hr(440px)
      wr(100%)
      mb(82px)
      +pad(){
        hr(350px)
      }
      +mob(){
        hr(180px)
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .post__page__links{
      counter-reset none
      list-style decimal
      pl(25px)
      +mob(){
        pl(16px)
      }
      li{
        position relative
        mb(18px)
        line-height normal
        &:hover a{
          co($color6)
        }
        &:hover{
          list-style url("../img/svg/icon_download.svg")
          +mob(){
            list-style none
          }
        }
        &:before{
          content ''
          display none
        }
        +mob(){
          pl(25px)
          list-style none
          &:before{
            display block
            top 0px
            left -16px
            content url("../img/svg/icon_download.svg")
          }
        }
        a{
          text-decoration underline
          display block
          to()
          +mob(){
            co($color6)
            //to()
          }
        }
      }
    }
  }
  .post__page__btn__container{
    .post__page__btn__block{
      max-width 750px
      padding 0px
    }
  }
  //Post page btn
  .post__page__btn{
    pb(1px)
    wr(100%)
    +mob(){
      hr(100px)
      letter-spacing 2.5px
    }
  }
}

