mixin blog_post_block(rubrikName, className)
    .post__container.row(class= className)
        .post__block__info.col-md-2
            a(href='#'  target='')= rubrikName
            span 01.07.18
        .post__block__content.col-md-10
            .row
                .post__link.col-md-12
                    a(href='post.html' target='')
                .post__block__content__container.col-md-7
                    .post__block__caption Миллион причин посетить новый шоу-рум в Киеве Scandinavian Home
                    p Я знаю как организовать процесс, чтобы все было
                        |в сроки, качественно и без лишних проблем.
                        |организую открытые данные о закупках …
                    .post__block__link
                        span Читать публикацию
                        +img('img/svg/arrow_right.svg')
                .post__img.post__img__des.col-md-5
                    img(src='img/jpg/blog1.jpg' alt='')
        .post__img.post__img__mob.col-md-5
            img(src='img/jpg/blog1.jpg' alt='')
        +line('col-md-8')