mixin slider-arrows(className)
    .blog__slider__slide__arrow(class=className)
        button(type='button' class='prev')
            +img('img/svg/arrow_right_s.svg')
        button(type='button' class='next')
            +img('img/svg/arrow_right_s.svg')