.blog__slider__slide__arrow {
  cursor: pointer;
  mt(95px);
  display: flex;
  +mob(){
    mt(35px)
  }
  .prev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 130px;
    border: 2px solid $color1;
    background-color: transparent;
    &:hover {
      border: 4px solid $color1;
      +mob(){
        border 2px solid $color1
      }
    }
    img {
      height: auto;
      width: 40px;
      transform: rotate(180deg);
    }
  }
  .next {
    position: relative;
    border-left: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 130px;
    background-color: transparent;
    border: 2px solid $color1;
    +mob(){
      wr(100%)
      hr(55px)
    }
    &:hover{
      border: 4px solid $color1;
      +mob(){
        border 2px solid $color1
      }
    }
    img {
      transform: rotate(0);
    }
  }
}