include ../utilities/_utilities

doctype html

html(lang='')

    +head()

    body

        +preloader()
        +modal

        main
            +navigation-logo-3()
            //-+header()
            .scroll__overlay
            block content

        +footer()

        script(src="js/vendor.js")
        //script(src="js/noui.js")
        script(src="js/scripts.js" + ver)