.range-slider
  display flex
  flex-wrap wrap
  justify-content space-between

  input
    flex 1 1 25%
    max-width 25%
  .nouislider
    flex 1 1 100%
    max-width 100%

  .noUi-target
    border 0
    border-radius 0
    box-shadow none
    bg($gr2)

  .noUi-horizontal
    height r(10)
    .noUi-handle
      box-shadow none
      border none
      bg(blue)
      border-radius 0
      &:focus
        outline none
      &:before, &:after
        display none

  .noUi-base
    width calc(100% - r(30))
    margin 0 r(15)

  .noUi-connect
    bg(lightblue)
    border 0
    border-radius 0
    box-shadow none

  .noUi-horizontal .noUi-handle
    width: r(34)
    height: r(22)