.pagination
  position relative
  df(row)
  justify-content center
  margin 0 auto
  list-style none
  +mob(){
    pl(0px)
  }
  li
    ff($regular)
    padding 0px;
    ml(15px)
    mr(15px)
    +mob(){
      ml(8px)
      mr(8px)
    }
    &:before{
      content ''
    }
    a
      display inline-block
      co($color1)
      fs($font_m1)
      letter-spacing 1px
      +mob(){
        ml(0px)
        mr(0px)
        fs($font_l!important)
      }
      &:hover
        co($color6)
    .arrow
      df(row)
      justify-content center
      align-items center
      height 100%
    .current
      fs(20px!important)
      line-height 28px
      cursor default
      pointer-events: none;
      co($color7)
  .left, .right
    +mob(){
      margin 0px
      position absolute
    }
    img
      hr(17px)
  .left
    left 0
    top 0
    //margin-right   40px;
    transform rotate(180deg)
  .right
    right 0
    top 0
    //margin-left 40px;