mixin pagination()
    ul.pagination
        li.arrow.left
            a(href='' title='' rel="prev")
                +img('/img/svg/arrow_s.svg')

        +li-a('1', 'current')
        +li-a('2')
        +li-a('3')
        +li-a('4')
        +li-a('...')

        li.arrow.right
            a(href='' title='' rel="next")
                +img('/img/svg/arrow_s.svg')