hover{
  transition .5s;
  transition-timing-function ease;
  //transition-timing-function linear;
}
.portfolio__page__content{
  position: relative
  mt(58px);
  +mob(){
    mt(36px!important)
  }
  //Portfolio block
  .portfolio__page__content__block{
    display: flex
    flex-wrap wrap
    mb(60px)
    border-bottom 1px solid grey
    &:last-child{
      .line {
        display none
      }
    }
    .portfolio__block:nth-child(even){
      mb(90px)
      +md(){
        mb(80px)
      }
      +mob(){
        mb(0px)
      }
    }
    .portfolio__block:nth-child(odd){
      +mob(){
        mt(96px)
        mb(96px)
      }
    }
    .portfolio__block:first-child{
      +md(){
        mt(0px)
      }
      +mob(){
        mt(64px)
      }
    }
    .portfolio__block:last-child{
      mb(0px)
    }
    .portfolio__block{
      position relative;
      hr(350px)
      pt(20px)
      box-sizing border-box
      +md(){
        hr(270px)
      }
      +mob(){
        hr(420px)
        pl(0px)
        pr(0px)
      }
      &:hover .portfolio__block__img .portfolio__block__img__overlay{
        background-color rgba(0, 0, 0, 0.3);
      }
      &:hover .portfolio__block__img img{
        transform scale(1.1)
      }
      .portfolio__block__img{
        overflow hidden
        position relative
        hr(300px)
        +md(){
          hr(100%)
        }
        +mob(){
          hr(360px)
        }
        .link__overlay{
          position absolute
          hr(300px)
          wr(100%)
          z-index 60;
          +pad(){
            hr(100%)
          }
          +mob(){
            hr(420px)
          }
        }
        .portfolio__block__img__overlay{
          @extend hover
          z-index: 50;
          top 0
          left 0
          position absolute
          wr(100%)
          hr(100%)
          +mob(){
            background-color rgba(0, 0, 0, 0.3);
          }
        }
        img{
          @extend hover;
          hr(100%);
          wr(100%);
          object-fit cover;
        }
      }
      .portfolio__block__text{
        z-index 60
        box-sizing border-box
        overflow hidden
        position: absolute
        hr(100%)
        wr(100%)
        pl(48px)
        top: 0
        left 0
        @extend hover;
        +mob(){
          pl(15px)
        }
        &:hover div > h3{
          //top: 0px
          opacity 1
        }
        &:hover div > span{
          opacity 1
          //bottom -55px
          +pad(){
            bottom 0px
          }
          +mob(){
            bottom -13px
          }
        }
        &:hover div > p{
          opacity 1
          //bottom -15px
          wr(200px)
          +pad(){
            bottom 0px
          }
          +mob(){
            bottom 53px
          }
        }
        h3{
          animation-duration .5s
          opacity 0
          position: absolute
          left auto
          //top -90px
          top 0px
          fs($font_l2 + 6px);
          co($color1);
          ff($bold)
          line-height: 40px;
          letter-spacing: 3px;
          @extend hover;
          +pad(){
            opacity 1
            top 0px
          }
          +mob(){
            top 0px
            opacity 1
            fs($font_l2 + 5)
            line-height 41px
            padding 0px
            max-width 200px
          }
        }
        span{
          position: absolute
          opacity 0
          left auto
          //bottom -160px
          bottom 0px
          text-transform uppercase
          co($color1);
          ff($bold);
          fs($font_m2);
          line-height: 26px;
          letter-spacing: 1px;
          @extend hover;
          +pad(){
            opacity 1
            bottom 0px
          }
          +mob(){
            opacity 1
            bottom -13px
            letter-spacing 1.3px
            fs($font_m2 - 1)
          }
        }
        p{
          opacity 0
          position: absolute
          left auto
          //bottom -60px
          bottom 0px
          co($color1);
          ff($medium);
          fs($font_m1);
          line-height: 22px;
          letter-spacing: .90px;
          @extend hover;
          +pad(){
            opacity 1
            bottom 0px
          }
          +mob(){
            opacity 1
            max-width 200px
            bottom 53px
            fs($font_m)
            line-height 21px
          }
        }
      }
    }
  }
  //Plus
  .follower_out{
    wr(58px)
    hr(58px)
    bottom 132px
    right 15px
  }
}