mixin portfolio_block(img)
    a(href='/project.html' target='').portfolio__block.col-md-6.link__overlay
        .portfolio__block__img
            .link__overlay
                .follower.follower_out
                    img(src='img/svg/plus.svg' alt='')
            .portfolio__block__img__overlay
            img(src=portfolio_block= img alt='')
        .row.portfolio__block__text
            .col-lg-7
                h3 MARTIN House
            .col-lg-7
                span 235 кв. м.
            .col-lg-6
                p Киевская область, поселок Шпитьки