.compensate-for-scrollbar{
  margin-right 0px!important
}

.fancybox-slide > div
  width 100%
  max-width r(1170)
  +lg()
    max-width r(960)
  +md()
    max-width r(720)
  +sm()
    max-width r(540)
  +xs()
    max-width calc(100% - r(30))
.fancybox-content
  padding 0px
  pl(15px)
  pr(15px)
.fancybox-close-small
  padding 0px!important
  top 3%!important
  right 5%!important
  wr(50px)
  hr(50px)
  co($color7!important)
  +mob(){
    top 30px
    right 30px
  }
  &:hover
    &:after
      bg($color7)
  &:focus
    &:after
      outline none
  &:after
    trans()
.fancybox-button svg{
  wr(100%)
  hr(100%)
  trans()
  &:hover{
    co($color1)
  }
}
#modal{
  .modal{
    hr(700px)
    background ($modal_color)
    +mob(){
      pt(50px)
      pb(50px)
      hr(auto)
    }
  }
}
.fancybox-slide--html{
  +mob(){
    padding 0px
  }
}

.form__text{
  mb(45px)
  h3{
    font-weight: 500
    letter-spacing: 1px
    line-height: 1.5
    mb(25px)
    fs($font_l2 + 1)
    ml(-1px)
    +mob(){
      mb(28px)
      fs($font_l + 5)
    }
  }
}
