mixin modal()
    .container#modal(style='display:none')
        .modal.row.justify-content-center.align-items-center
            .col-md-8
                .row.form__text(style='display:')
                    .col-md-12
                        h3(data-selectable="true") Отправить заявку
                    .col-md-8.col-lg-6
                        h6(data-selectable="true") Напишите свой вопрос, и я свяжусь с Вами
                            | в кратчайшие сроки.
                +form()
                +form-success()

mixin form_send()
    .container
        .row.justify-content-center.align-items-center.contacts__form
            .col-md-8
                .row.form__text(style='display:')
                    .col-md-12
                        h3 Нужна консультация ?
                    .col-md-8.col-lg-6
                        h6 Напишите свой вопрос, и я свяжусь с Вами
                            | в кратчайшие сроки.
                +form()
                +form-success()