mixin icon-volta
    include icons/volta.svg

mixin icon-arrow-right
    include icons/arrow_right.svg

mixin icon-arrow_right_s
    include icons/arrow_right_s.svg

mixin icon-arrow_s
    include icons/arrow_s.svg

mixin icon-name
    include icons/name.svg

mixin icon-logo
    include icons/logo.svg

mixin icon-main-logo
    include icons/main_logo.svg

mixin icon-google-plus
    include icons/google_plus.svg

mixin icon-fb
    include icons/fb.svg

mixin icon-plus
    include icons/plus.svg

mixin icon-eye
    include icons/icon_eye.svg

mixin icon-share
    include icons/icon_share.svg

mixin icon-arrow-left
    include icons/icon_left_arrow.svg

mixin icon-fb-share
    include icons/fb_share.svg

mixin icon-tw-share
    include icons/twitter_share.svg

mixin icon-link-share
    include icons/link_share.svg

