.portfolio__page{
  pb(230px);
  background-image: $main_gradient;
  +mob(){
    pb(140px)
  }
  .scroll_nav{
    mt(12px)
    .scroll_nav_container{
      .active{
        pl(26px)
      }
      & a:hover{
        pl(26px)
      }
    }
  }
  //nav padding
  .hiring_item{
    pb(0px)
  }
  .line{
    hr{
      border none
      hr(2px)
      bg($color1)
      opacity .12
      mt(48px)
      mb(60px)
      +md(){
        mt(0px)
        mb(80px)
      }
      +mob(){
        mt(30px)
        mb(43px)
      }
    }
  }
}