mixin portfolio()
    section.portfolio__page.mt__page.smooth__section#portfolio
        .container
            +breadcrumbs('Портфолио')
            +header_name('Портфолио')
            .portfolio__page__content.row
                //title array[name, href]
                +scroll_nav('Рестораны', [
                    {name: 'Рестораны', href: '#link1'},
                    {name: 'Отели', href: '#link2'},
                    {name: 'Офисы', href: '#link3'},
                    {name: 'Квартиры', href: '#link4'},
                    {name: 'Дома', href: '#link5'},
                ])
                .col-md-9.col-lg-10
                    .section.row.portfolio__page__content__block#link1
                        .col-md-12
                            .row
                                +portfolio_block('img/jpg/portfolio1.jpg')
                                +portfolio_block('img/jpg/portfolio2.jpg')
                                +portfolio_block('img/jpg/portfolio3.jpg')
                                +portfolio_block('img/jpg/portfolio4.jpg')
                        +line('col-md-12')
                    .section.row.portfolio__page__content__block#link2
                        .col-md-12
                            .row
                                +portfolio_block('img/jpg/portfolio1.jpg')
                                +portfolio_block('img/jpg/portfolio2.jpg')
                                +portfolio_block('img/jpg/portfolio3.jpg')
                                +portfolio_block('img/jpg/portfolio4.jpg')
                        +line('col-md-12')
                    .section.row.portfolio__page__content__block#link3
                        .col-md-12
                            .row
                                +portfolio_block('img/jpg/portfolio1.jpg')
                                +portfolio_block('img/jpg/portfolio2.jpg')
                                +portfolio_block('img/jpg/portfolio3.jpg')
                                +portfolio_block('img/jpg/portfolio4.jpg')
                        +line('col-md-12')
                    .section.row.portfolio__page__content__block#link4
                        .col-md-12
                            .row
                                +portfolio_block('img/jpg/portfolio1.jpg')
                                +portfolio_block('img/jpg/portfolio2.jpg')
                                +portfolio_block('img/jpg/portfolio3.jpg')
                                +portfolio_block('img/jpg/portfolio4.jpg')
                        +line('col-md-12')
                    .section.row.portfolio__page__content__block#link5
                        .col-md-12
                            .row
                                +portfolio_block('img/jpg/portfolio1.jpg')
                                +portfolio_block('img/jpg/portfolio2.jpg')
                                +portfolio_block('img/jpg/portfolio3.jpg')
                                +portfolio_block('img/jpg/portfolio4.jpg')
                        +line('col-md-12')