.post__block__info{
  display flex;
  //pl(0px)
  df(col);
  +mob(){
    flex-direction row
    justify-content space-between
    pt(20px)
  }
  a{
    co($color1);
    ff($regular);
    fs($font_m);
    line-height: 20px;
    letter-spacing: 1px;
    mt(10px)
    +mob(){
      opacity .5
      max-width 150px
      mt(0px)
    }
    &:hover{
      opacity 1
      co($color6)
    }
  }
  span{
    co($color1);
    ff($regular);
    fs($font_m);
    mt(100px);
    line-height: 18px;
    letter-spacing: 1px;
    +md(){
      mt(80px)
    }
    +mob(){
      opacity .5
      mt(0px)
    }
  }
}