::selection
  bg($color1)
  co($color3)

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite, a, span
  font-family $regular, sans-serif
  co($color1) //color

h1
  font(e(34), 700, 1.5) //font-size, font-weight, line-height

h2
  font(e(30), 400, 1.5)
  line-height 45px
  +mob(){
    fs($font_l2!important)
  }

h3
  font(e(30), 500, 1.5)
  +md(){
    fs($font_l)
    line-height 35px
  }
  +mob(){
    line-height normal
  }

h4
  font(e(22), 700, 1.5)
  line-height 50px
  +md(){
    line-height 35px
  }

h5
  font(e(18), 700, 1.5)

h6
  font(e(14), 400, 1.5)

p
  font(($font_m), 400)
  mb(16px)
  +md(){
    fs($font_m)
  }
  +mob(){
    fs($font_m)
    line-height 28px
  }
span{
  line-height 18px;
}
a{
  fs($font_m)
  cursor: pointer;
}
hr
  border: 0

