mixin about_main()
    section.about__main
        .main.mt__page
            .container
                +breadcrumbs('Обо мне')
            .about__main__content.container
                +img('img/png/person2.png', 'about__main__img')
                +header_name('Обо мне')
                .about__main__content__text.row
                    .main__top__text.offset-md-3.offset-lg-2.col-md-3
                        .animate_left
                            p Мое имя
                        .main__top__text__name.animate_left
                            +img('img/svg/name.svg')
                    .main__bottom.col-md-12.col-lg-8
                        .row
                            .offset-md-3.offset-lg-3.col-md-8.col-lg-6.animate_left
                                p Когда меня спрашивают о моей профессии, я
                                    |представляюсь trouble-shooter`ом в сфере строительства и ремонта.
                                    |По-простому — я предлагаю и реализую решения проблем, даже тех,
                                    |которые иногда кажутся неразрешимыми.