.about__main{
  .main{
    mt(28px)
    pt(0px)
    pb(150px)
    hr(auto)
    flex-direction column
    +mob(){
      pb(0px)
    }
  }
  .about__main__img{
    position: absolute;
    right: 0;
    bottom: -100px;
    hr(750px)
    wr(900px)
    object-fit: contain;
    object-position right
    +md(){
      wr(100%)
    }
    +mob(){
      top 46px
      bottom auto
      position absolute
      hr(472px)
      wr(100%)
      object-fit cover
      object-position 43% -20px
    }
  }
  .about__main__content{
    position relative
    z-index: 50;
    .main__top{
      mt(120px)
      +mob(){
        mt(80px)
      }
    }
    .main__top__logo{
      img{
        hr(42px!important)
      }
    }
    .main__top__text__name{
      +mob(){
        mt(73px!important)
      }
      img{
        hr(94px!important)
        +mob(){
          hr(76px!important)
        }
    }
  }
  .about__main__content__text{
    mt(118px)
  }
    .main__bottom{
      wr(auto)
      +mob(){
        mt(40px)
        mb(60px)
      }
      p{
        line-height 30px
        +mob(){
          line-height 28px
          fs($font_m + 1!important)
          letter-spacing 1px
        }
      }
    }
    .main__top__text{
      p{
        +mob(){
          display none
        }
      }
    }
  }
}
