mixin tabs()
    #tabs
        ul.tabs
            li
                a(href='#' title='' data-tab='tab1').active London
            li
                a(href='#' title='' data-tab='tab2') Paris
            li
                a(href='#' title='' data-tab='tab3') Tokyo
        .tabs-content.active
            h3 London
            p London is the capital city of England.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?
        .tabs-content
            h3 Paris
            p Paris is the capital of France.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?
        .tabs-content
            h3 Tokyo
            p Tokyo is the capital of Japan.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?