$column-number = 12
$column-gutter = 30

$breakpoints-count = 4

prefixes = ('' sm md lg xl xxl)
breakpoints = ('' 568 768 992 1200 1600)
container-width = (100% r(540) r(720) r(960) r(1170) r(1500))


flex-properties = (justify-content align-items align-self)

justify-content-properties = (flex-start flex-end center space-between space-around)
justify-content-flex-prefixes = (start end center between around)
align-items-self-flex-prefixes = (flex-start flex-end center baseline stretch)
align-items-self-properties = (start end center baseline stretch)