.tabs
  df(row)

  li
    padding 0
    a
      height: 40px;
      opacity: .25;
      color: $color1;
      font-size: $font_m;
      font-weight: 400;
      font-size: $font_m2;
      letter-spacing: 1px;
      cursor: pointer;
      trans()
      &:hover
        opacity: 1;
        color: $color1;
      &.active
        opacity: .8;
        padding-left: 15px;
        border-left: 2px solid $color5;

.tabs-content
  position absolute
  opacity 0
  transition-delay: .4s!important;
  .slide__effect
    position relative
    &:before{
      display block
      top 0
      right 0
      content ''
      height 100%
      wr(100%!important)
      position absolute
      z-index 10
      bg($color3)
      transition: .6s all ease;
      +mob(){
        display none
      }
    }
  +mob(){
    position relative
    opacity 1
    transition-delay 0s!important
  }
.tabs-content.active
  opacity 1
  z-index 10
  display flex!important
  .slide__effect
    &:before{
      transition-delay: .6s;
      wr(0%!important)
    }
//@keyframes fadeEffect
//  from
//    left -100%
//    opacity: 0;
//  to
//    left 0%
//    opacity: 1;