#lottie
  background-color:black
  width:100%
  height:100%
  overflow: hidden
  transform: translate3d(0,0,0)
  opacity: 1;
  position: fixed
  top: 0
  left: 0
  z-index: 99999
  display flex
  align-items center
  justify-content center

  svg
    display block
    width 200px !important
    height 200px !important