mixin preloader()
    #preloader
        #lottie

    script.
        var animationData = {
            "v": "5.4.3",
            "fr": 25,
            "ip": 0,
            "op": 208,
            "w": 400,
            "h": 400,
            "nm": "Dyrin_logo",
            "ddd": 1,
            "assets": [{
                "id": "comp_0",
                "layers": [{
                    "ddd": 1,
                    "ind": 1,
                    "ty": 0,
                    "nm": "r_D Outlines 6 Comp 1",
                    "refId": "comp_1",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 169,
                                "s": [0],
                                "e": [25]
                            }, {
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 189,
                                "s": [25],
                                "e": [0]
                            }, {"t": 207}],
                            "ix": 8
                        },
                        "ry": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 169,
                                "s": [0],
                                "e": [360]
                            }, {"t": 207}],
                            "ix": 9
                        },
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [239.009, 196, 3.993], "ix": 2},
                        "a": {"a": 0, "k": [239, 196, 5], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "w": 500,
                    "h": 500,
                    "ip": 169,
                    "op": 209,
                    "st": 169,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 2,
                    "ty": 4,
                    "nm": "r_D Outlines 9",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.11, "y": 1},
                                "o": {"x": 0.224, "y": 0},
                                "n": "0p11_1_0p224_0",
                                "t": 142,
                                "s": [239, 271.5, 0],
                                "e": [239, 278.75, 0],
                                "to": [0, 1.20833337306976, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.243, "y": 1},
                                "o": {"x": 0.526, "y": 0},
                                "n": "0p243_1_0p526_0",
                                "t": 149,
                                "s": [239, 278.75, 0],
                                "e": [239, 191, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 14.625, 0]
                            }, {"t": 169}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p167_0", "0p553_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 143,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p667_0", "0p247_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 148,
                                "s": [100, 65, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p514_0", "0p833_1_0p737_0", "0p833_1_0p333_0"],
                                "t": 160,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {"t": 168}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 148,
                    "op": 171,
                    "st": 142,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 3,
                    "ty": 4,
                    "nm": "r_D Outlines 8",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.11, "y": 1},
                                "o": {"x": 0.224, "y": 0},
                                "n": "0p11_1_0p224_0",
                                "t": 142,
                                "s": [239, 278, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 1.20833337306976, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.243, "y": 1},
                                "o": {"x": 0.526, "y": 0},
                                "n": "0p243_1_0p526_0",
                                "t": 149,
                                "s": [239, 285.25, 0],
                                "e": [239, 197.5, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 14.625, 0]
                            }, {"t": 169}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p167_0", "0p553_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 143,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p667_0", "0p247_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 148,
                                "s": [100, 65, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p514_0", "0p833_1_0p737_0", "0p833_1_0p333_0"],
                                "t": 160,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {"t": 167}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 142,
                    "op": 148,
                    "st": 142,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 4,
                    "ty": 4,
                    "nm": "r_D Outlines 7",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.158, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p158_1_0p333_0",
                                "t": 105,
                                "s": [239, 197.5, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 14.625, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.238, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p238_1_0p333_0",
                                "t": 125,
                                "s": [239, 285.25, 0],
                                "e": [239, 278, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 1.20833337306976, 0]
                            }, {"t": 132}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p333_0", "0p247_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 105,
                                "s": [100, 100, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.52, 0.473, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p52_1_0p514_0", "0p473_1_0p737_0", "0p667_1_0p333_0"],
                                "t": 114,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.92, 0.864, 0.333], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p92_0", "0p553_1_0p864_0", "0p667_1_0p333_0"],
                                "t": 119,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p667_0", "0p667_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 124,
                                "s": [100, 65, 100],
                                "e": [100, 100, 100]
                            }, {"t": 131}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 132,
                    "op": 143,
                    "st": 104,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 5,
                    "ty": 4,
                    "nm": "r_D Outlines 6",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.158, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p158_1_0p333_0",
                                "t": 105,
                                "s": [239, 201, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 14.0416669845581, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.238, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p238_1_0p333_0",
                                "t": 125,
                                "s": [239, 285.25, 0],
                                "e": [239, 278, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 1.20833337306976, 0]
                            }, {"t": 132}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p333_0", "0p247_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 105,
                                "s": [100, 100, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.52, 0.473, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p52_1_0p514_0", "0p473_1_0p737_0", "0p667_1_0p333_0"],
                                "t": 114,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.92, 0.864, 0.333], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p92_0", "0p553_1_0p864_0", "0p667_1_0p333_0"],
                                "t": 119,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p667_0", "0p667_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 124,
                                "s": [100, 65, 100],
                                "e": [100, 100, 100]
                            }, {"t": 131}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 104,
                    "op": 132,
                    "st": 104,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 6,
                    "ty": 4,
                    "nm": "MASK_r_D Outlines 3",
                    "td": 1,
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {"a": 0, "k": [239, 216.9, 0], "ix": 2},
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.461, 0, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p461_1_0p333_0", "0_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 109,
                                "s": [100, 37.05, 100],
                                "e": [100, 575, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p333_0", "0p833_1_0p333_0", "0p833_1_0p333_0"],
                                "t": 125,
                                "s": [100, 575, 100],
                                "e": [100, 521, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p167_0", "0p833_1_0p167_0", "0p833_1_0p167_0"],
                                "t": 154,
                                "s": [100, 521, 100],
                                "e": [100, 50, 100]
                            }, {"t": 161}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 104,
                    "op": 171,
                    "st": 104,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 7,
                    "ty": 4,
                    "nm": "r_R Outlines 2",
                    "tt": 2,
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {"a": 0, "k": [224, 245, 0], "ix": 2},
                        "a": {"a": 0, "k": [0.25, 23.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.238, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p238_1_0p333_0", "0p667_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 104,
                                "s": [0, 100, 100],
                                "e": [162.5, 100, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p167_0", "0p667_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 119,
                                "s": [162.5, 100, 100],
                                "e": [162.5, 100, 100]
                            }, {
                                "i": {"x": [0.417, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p417_1_0p333_0", "0p667_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 154,
                                "s": [162.5, 100, 100],
                                "e": [0, 100, 100]
                            }, {"t": 169}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-16, 23], [16, 23], [16, -23], [-16, -23]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [16.25, 23.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 104,
                    "op": 171,
                    "st": 104,
                    "bm": 0
                }, {
                    "ddd": 1,
                    "ind": 8,
                    "ty": 0,
                    "nm": "r_D Outlines 6 Comp 1",
                    "refId": "comp_1",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 65,
                                "s": [0],
                                "e": [25]
                            }, {
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 85,
                                "s": [25],
                                "e": [0]
                            }, {"t": 103}],
                            "ix": 8
                        },
                        "ry": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.667], "y": [1]},
                                "o": {"x": [0.333], "y": [0]},
                                "n": ["0p667_1_0p333_0"],
                                "t": 65,
                                "s": [0],
                                "e": [360]
                            }, {"t": 103}],
                            "ix": 9
                        },
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [239.009, 196, 3.993], "ix": 2},
                        "a": {"a": 0, "k": [239, 196, 5], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "w": 500,
                    "h": 500,
                    "ip": 65,
                    "op": 105,
                    "st": 65,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 9,
                    "ty": 4,
                    "nm": "r_D Outlines 5",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.11, "y": 1},
                                "o": {"x": 0.224, "y": 0},
                                "n": "0p11_1_0p224_0",
                                "t": 38,
                                "s": [239, 271.5, 0],
                                "e": [239, 278.75, 0],
                                "to": [0, 1.20833337306976, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.243, "y": 1},
                                "o": {"x": 0.526, "y": 0},
                                "n": "0p243_1_0p526_0",
                                "t": 45,
                                "s": [239, 278.75, 0],
                                "e": [239, 191, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 14.625, 0]
                            }, {"t": 65}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p167_0", "0p553_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 39,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p667_0", "0p247_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 44,
                                "s": [100, 65, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p514_0", "0p833_1_0p737_0", "0p833_1_0p333_0"],
                                "t": 56,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {"t": 64}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 44,
                    "op": 67,
                    "st": 38,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 10,
                    "ty": 4,
                    "nm": "r_D Outlines 3",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.11, "y": 1},
                                "o": {"x": 0.224, "y": 0},
                                "n": "0p11_1_0p224_0",
                                "t": 38,
                                "s": [239, 278, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 1.20833337306976, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.243, "y": 1},
                                "o": {"x": 0.526, "y": 0},
                                "n": "0p243_1_0p526_0",
                                "t": 45,
                                "s": [239, 285.25, 0],
                                "e": [239, 197.5, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 14.625, 0]
                            }, {"t": 65}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p167_0", "0p553_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 39,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p667_0", "0p247_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 44,
                                "s": [100, 65, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p514_0", "0p833_1_0p737_0", "0p833_1_0p333_0"],
                                "t": 56,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {"t": 63}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 38,
                    "op": 44,
                    "st": 38,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 11,
                    "ty": 4,
                    "nm": "r_D Outlines 2",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.158, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p158_1_0p333_0",
                                "t": 1,
                                "s": [239, 197.5, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 14.625, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.238, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p238_1_0p333_0",
                                "t": 21,
                                "s": [239, 285.25, 0],
                                "e": [239, 278, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 1.20833337306976, 0]
                            }, {"t": 28}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p333_0", "0p247_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 1,
                                "s": [100, 100, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.52, 0.473, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p52_1_0p514_0", "0p473_1_0p737_0", "0p667_1_0p333_0"],
                                "t": 10,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.92, 0.864, 0.333], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p92_0", "0p553_1_0p864_0", "0p667_1_0p333_0"],
                                "t": 15,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p667_0", "0p667_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 20,
                                "s": [100, 65, 100],
                                "e": [100, 100, 100]
                            }, {"t": 27}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 28,
                    "op": 39,
                    "st": 0,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 12,
                    "ty": 4,
                    "nm": "r_D Outlines",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {
                            "a": 1,
                            "k": [{
                                "i": {"x": 0.158, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p158_1_0p333_0",
                                "t": 1,
                                "s": [239, 201, 0],
                                "e": [239, 285.25, 0],
                                "to": [0, 14.0416669845581, 0],
                                "ti": [0, 0, 0]
                            }, {
                                "i": {"x": 0.238, "y": 1},
                                "o": {"x": 0.333, "y": 0},
                                "n": "0p238_1_0p333_0",
                                "t": 21,
                                "s": [239, 285.25, 0],
                                "e": [239, 278, 0],
                                "to": [0, 0, 0],
                                "ti": [0, 1.20833337306976, 0]
                            }, {"t": 28}],
                            "ix": 2
                        },
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.462, 0.247, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p462_1_0p333_0", "0p247_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 1,
                                "s": [100, 100, 100],
                                "e": [100, 180, 100]
                            }, {
                                "i": {"x": [0.52, 0.473, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.514, 0.737, 0.333], "y": [0, 0, 0]},
                                "n": ["0p52_1_0p514_0", "0p473_1_0p737_0", "0p667_1_0p333_0"],
                                "t": 10,
                                "s": [100, 180, 100],
                                "e": [100, 100, 100]
                            }, {
                                "i": {"x": [0.553, 0.553, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.92, 0.864, 0.333], "y": [0, 0, 0]},
                                "n": ["0p553_1_0p92_0", "0p553_1_0p864_0", "0p667_1_0p333_0"],
                                "t": 15,
                                "s": [100, 100, 100],
                                "e": [100, 65, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.667, 0.681, 0.333], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p667_0", "0p667_1_0p681_0", "0p667_1_0p333_0"],
                                "t": 20,
                                "s": [100, 65, 100],
                                "e": [100, 100, 100]
                            }, {"t": 27}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 28,
                    "st": 0,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 13,
                    "ty": 4,
                    "nm": "MASK_r_D Outlines 2",
                    "td": 1,
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {"a": 0, "k": [239, 216.9, 0], "ix": 2},
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.461, 0, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p461_1_0p333_0", "0_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 5,
                                "s": [100, 37.05, 100],
                                "e": [100, 575, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p333_0", "0p833_1_0p333_0", "0p833_1_0p333_0"],
                                "t": 21,
                                "s": [100, 575, 100],
                                "e": [100, 521, 100]
                            }, {
                                "i": {"x": [0.833, 0.833, 0.833], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p833_1_0p167_0", "0p833_1_0p167_0", "0p833_1_0p167_0"],
                                "t": 50,
                                "s": [100, 521, 100],
                                "e": [100, 50, 100]
                            }, {"t": 57}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 67,
                    "st": 0,
                    "bm": 0
                }, {
                    "ddd": 0,
                    "ind": 14,
                    "ty": 4,
                    "nm": "r_R Outlines",
                    "tt": 2,
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "r": {"a": 0, "k": 0, "ix": 10},
                        "p": {"a": 0, "k": [224, 245, 0], "ix": 2},
                        "a": {"a": 0, "k": [0.25, 23.25, 0], "ix": 1},
                        "s": {
                            "a": 1,
                            "k": [{
                                "i": {"x": [0.238, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p238_1_0p333_0", "0p667_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 0,
                                "s": [0, 100, 100],
                                "e": [162.5, 100, 100]
                            }, {
                                "i": {"x": [0.667, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.167, 0.167, 0.167], "y": [0, 0, 0]},
                                "n": ["0p667_1_0p167_0", "0p667_1_0p167_0", "0p667_1_0p167_0"],
                                "t": 15,
                                "s": [162.5, 100, 100],
                                "e": [162.5, 100, 100]
                            }, {
                                "i": {"x": [0.417, 0.667, 0.667], "y": [1, 1, 1]},
                                "o": {"x": [0.333, 0.333, 0.333], "y": [0, 0, 0]},
                                "n": ["0p417_1_0p333_0", "0p667_1_0p333_0", "0p667_1_0p333_0"],
                                "t": 50,
                                "s": [162.5, 100, 100],
                                "e": [0, 100, 100]
                            }, {"t": 65}],
                            "ix": 6
                        }
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-16, 23], [16, 23], [16, -23], [-16, -23]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [16.25, 23.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 67,
                    "st": 0,
                    "bm": 0
                }]
            }, {
                "id": "comp_1", "layers": [{
                    "ddd": 1,
                    "ind": 1,
                    "ty": 4,
                    "nm": "r_D Outlines 10",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {"a": 0, "k": 0, "ix": 8},
                        "ry": {"a": 0, "k": 0, "ix": 9},
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [239, 191, 10], "ix": 2},
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 52,
                    "st": -27,
                    "bm": 0
                }, {
                    "ddd": 1,
                    "ind": 2,
                    "ty": 4,
                    "nm": "r_D Outlines 7",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {"a": 0, "k": -90, "ix": 8},
                        "ry": {"a": 0, "k": 0, "ix": 9},
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [239, 191, 0], "ix": 2},
                        "a": {"a": 0, "k": [5.25, 10.25, 0], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 52,
                    "st": -27,
                    "bm": 0
                }, {
                    "ddd": 1,
                    "ind": 3,
                    "ty": 4,
                    "nm": "r_D Outlines 8",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {"a": 0, "k": 0, "ix": 8},
                        "ry": {"a": 0, "k": -90, "ix": 9},
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [244, 196, 0], "ix": 2},
                        "a": {"a": 0, "k": [0.25, 5.25, 0], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [0.805897671569, 0.805897671569, 0.805897671569, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 52,
                    "st": -27,
                    "bm": 0
                }, {
                    "ddd": 1,
                    "ind": 4,
                    "ty": 4,
                    "nm": "r_D Outlines 9",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {"a": 0, "k": 0, "ix": 8},
                        "ry": {"a": 0, "k": 90, "ix": 9},
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [234, 196, 0], "ix": 2},
                        "a": {"a": 0, "k": [10.25, 5.25, 0], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [0.805897671569, 0.805897671569, 0.805897671569, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 52,
                    "st": -27,
                    "bm": 0
                }, {
                    "ddd": 1,
                    "ind": 5,
                    "ty": 4,
                    "nm": "r_D Outlines 6",
                    "sr": 1,
                    "ks": {
                        "o": {"a": 0, "k": 100, "ix": 11},
                        "rx": {"a": 0, "k": 0, "ix": 8},
                        "ry": {"a": 0, "k": 0, "ix": 9},
                        "rz": {"a": 0, "k": 0, "ix": 10},
                        "or": {"a": 0, "k": [0, 0, 0], "ix": 7},
                        "p": {"a": 0, "k": [239, 191, 0], "ix": 2},
                        "a": {"a": 0, "k": [5.25, 0.25, 0], "ix": 1},
                        "s": {"a": 0, "k": [100, 100, 100], "ix": 6}
                    },
                    "ao": 0,
                    "shapes": [{
                        "ty": "gr",
                        "it": [{
                            "ind": 0,
                            "ty": "sh",
                            "ix": 1,
                            "ks": {
                                "a": 0,
                                "k": {
                                    "i": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "o": [[0, 0], [0, 0], [0, 0], [0, 0]],
                                    "v": [[-5, 5], [5, 5], [5, -5], [-5, -5]],
                                    "c": true
                                },
                                "ix": 2
                            },
                            "nm": "Path 1",
                            "mn": "ADBE Vector Shape - Group",
                            "hd": false
                        }, {
                            "ty": "fl",
                            "c": {"a": 0, "k": [1, 1, 1, 1], "ix": 4},
                            "o": {"a": 0, "k": 100, "ix": 5},
                            "r": 1,
                            "bm": 0,
                            "nm": "Fill 1",
                            "mn": "ADBE Vector Graphic - Fill",
                            "hd": false
                        }, {
                            "ty": "tr",
                            "p": {"a": 0, "k": [5.25, 5.25], "ix": 2},
                            "a": {"a": 0, "k": [0, 0], "ix": 1},
                            "s": {"a": 0, "k": [100, 100], "ix": 3},
                            "r": {"a": 0, "k": 0, "ix": 6},
                            "o": {"a": 0, "k": 100, "ix": 7},
                            "sk": {"a": 0, "k": 0, "ix": 4},
                            "sa": {"a": 0, "k": 0, "ix": 5},
                            "nm": "Transform"
                        }],
                        "nm": "Group 1",
                        "np": 2,
                        "cix": 2,
                        "bm": 0,
                        "ix": 1,
                        "mn": "ADBE Vector Group",
                        "hd": false
                    }],
                    "ip": 0,
                    "op": 52,
                    "st": -27,
                    "bm": 0
                }]
            }],
            "layers": [{
                "ddd": 0,
                "ind": 1,
                "ty": 0,
                "nm": "All",
                "refId": "comp_0",
                "sr": 1,
                "ks": {
                    "o": {"a": 0, "k": 100, "ix": 11},
                    "r": {"a": 0, "k": 0, "ix": 10},
                    "p": {"a": 0, "k": [200, 200, 0], "ix": 2},
                    "a": {"a": 0, "k": [250, 250, 0], "ix": 1},
                    "s": {"a": 0, "k": [373.6, 373.6, 100], "ix": 6}
                },
                "ao": 0,
                "w": 500,
                "h": 500,
                "ip": 0,
                "op": 380,
                "st": 0,
                "bm": 0
            }],
            "markers": [{"tm": 30, "cm": "9", "dr": 0}]
        }

        var params = {
            container: document.getElementById('lottie'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            animationData: animationData
        };

        var anim;
        anim = lottie.loadAnimation(params);

        var preloader = document.getElementById("lottie");function fadeOutnojquery(el) {
            el.style.opacity = 1;
            var interpreloader = setInterval(function () {
                el.style.opacity = el.style.opacity - 0.05;
                if (el.style.opacity <= 0.05) {
                    clearInterval(interpreloader);
                    preloader.style.display = "none";
                }
            }, 16);
        }window.onload = function () {
            setTimeout(function () {
                fadeOutnojquery(preloader);
            }, 1000);
        };