mixin tabs-service()
    section.service.container
        .row
            .col-md-2.animate__caption
                h2 Услуги
        #tabs.row
            ul.tabs.col-md-4.col-lg-2
                li: a(href='#' title='' data-tab='tab1').active Управление
                li: a(href='#' title='' data-tab='tab2') Консультирование
                li: a(href='#' title='' data-tab='tab3') Ремонт
                li: a(href='#' title='' data-tab='tab4') Строительство
                li: a(href='#' title='' data-tab='tab5') Дизайн
                li: a(href='#' title='' data-tab='tab6') Решение проблем
                li: a(href='#' title='' data-tab='tab7') Мебель
            .tabs-content-container.col-md-8.col-lg-10.accordion
                +tabs-content('Управление','active', 'active')
                +tabs-content('Консультирование', '' ,'')
                +tabs-content('Ремонт','' ,'')
                +tabs-content('Строительство','', '')
                +tabs-content('Дизайн','', '')
                +tabs-content('Решение проблем','', '')
                +tabs-content('Мебель','', '')

mixin tabs-content(caption, className)
    .accordion_heading_open.only_m(class= className)
        p= caption
    .row.accordion__panel.tabs-content(class= className)
        .accordion__panel__img.slide__effect.col-md-12.col-lg-5
            img(src='img/jpg/slider_service1.jpg' alt='')
        .accordion__panel__container.col-md-12.col-lg-6
            h3.slide__effect Управление строительством
            p.slide__effect Полный комплекс работ по строительству новых и
                | реконструкции существующих зданий. Вы получите готовый
                | объект «под ключ», не задумываясь о переходных этапах.
                | Открытые сметы, оплата только за услуги.
            a(class="accordion__panel__arrow slide__effect" href="#" target="_blank") Больше об услуге
                +img("img/svg/arrow_right.svg")