.service{
  bottom 16px
  position relative
  z-index 50
  flex-direction column
  h2 {
    position absolute
    top -114px
    letter-spacing 2.8px
    +mob(){
      position: relative
      top 0px
      fs($font_l2)
      mb(49px)
    }
  }
}
#tabs{
  display flex
  +mob(){
    flex-direction column
    ul{
      display none
    }
  }
  ul{
    li{
      &:before{
        content ''
      }
    }
  }
}
.service{
  +mob(){
    mt(144px)
  }
  //Tabs
  .tabs {
    mt(32px)
    df(row)
    list-style none
    flex-direction column
    li {
      line-height 28px
      padding 0
      mb(14px)
      to()
      a {
        to()
        display flex
        align-items center
        hr(28px)
        opacity .25
        color $color1
        font-size $font_m
        letter-spacing 1px
        border-left 2px solid transparent
        trans()
        &:hover {
          opacity 1
          color $color1
        }
        &.active {
          display block
          opacity .8
          pl(25px)
          letter-spacing 2px
          border-left 2px solid $color5
          +md(){
            pl(15px)
          }
        }
      }
    }
  }

  .tabs-content {
    padding 0px
    display flex
  }

  //Accordion
  .tabs-content-container{
    .accordion_heading_open{
      position relative
      display none
      +mob(){
        p{
          to()
          fs($font_m2)
          letter-spacing 1px
          mb(0px)
          line-height normal
        }
        pr(50px)
        pt(17px)
        pb(18px)
        display block
        border-bottom 2px solid $accord
        &:first-child{
          border-top 2px solid $accord
        }
        &:after {
          triangle(white, down, 5px)
          top 29px
          right 21px
          trans()
        }
        &.active {
          &:after {
            transform rotate(180deg)
          }
        }
      }
    }
  }

  .accordion__panel {
    display flex
    padding 0px
    +mob(){
      display none
      mt(22px)
      mb(25px)
      flex-direction column
    }
    &:hover{
      bg(none)
    }
    .accordion__panel__container {
      //padding: 0px;
      ml(16px)
      +md(){
        ml(0px)
      }
      +mob(){
        ml(0px)
        mb(35px)
      }
      h3 {
        display block
        mt(30px)
        mb(25px)
        color $color1
        font-famil $medium
        text-transform uppercase
        letter-spacing 3px
        font-weight 500
        +mob(){
          mt(49px)
          mb(25px)
          fs($font_l + 4)
          line-height 42px
          font-weight 400
          letter-spacing 2px
        }
      }
      p {
        max-width 425px
        +mob(){
          fs($font_m!important)
          max-width 100%
        }
      }
    }
    img {
      wr(100%)
      hr(360px)
      max-width 360px
      object-fit cover
      padding 0px
      +md(){
        hr(250px)
      }
      +mob(){
        hr(290px)
        max-width 100%
      }
    }
    .active{
      display flex
    }
  }
}

.active{
  +mob(){
    display flex!important
  }
}

  //Accordion panel arrow
  .accordion__panel__arrow {
    mt(53px)
    display flex
    align-items center
    opacity .8
    color $color4
    font-family $medium
    letter-spacing: 1px
    line-height normal
    &:hover{
      opacity 1
    }
    &:hover img {
      margin-left 40px
    }
    +mob(){
      mt(46px)
    }
    img {
      trans()
      wr(70px!important)
      hr(auto!important)
      ml(25px)
      +mob(){
        wr(70px!important)
        ml(24px)
      }
    }
  }