//-Navigation
mixin scroll_nav(title, array)
    .scroll_nav.closed.col-md-3.col-lg-2
        #scroll_nav_dropdown.scroll_nav_dropdown.row.align-items-center
            #dropdown_title.title.col-md-3
                p= title
            .scroll_nav_container.col-md-9.col-lg-12
                -var n = 1
                each val in array
                    a(href= val.href class='smooth hiring_item')
                        = val.name
                        | &nbsp;
                        = n++
//-Filterscroll_nav_dropdown
mixin scroll_nav_filter(title, array)
    .scroll_nav.closed.toolbar_filter.col-lg-10
        #scroll_nav_dropdown.scroll_nav_dropdown.row.align-items-center
            #dropdown_title.title.col-md-3
                p= title
            .scroll_nav_container.col-md-9
                -var n = 1
                each val in array
                    a(href='#' class='hiring_item hiring_item fil_btn' data-rel= val.rubrik)
                        = val.name
                        | &nbsp;
                        = n++