
.scroll_nav {
  position relative
  top 0
  left 0
  display flex
  df(col)
  +mob(){
    z-index 90!important
  }
  .title{
    display none
  }
  .scroll_nav_container{
    wr(100%)
    display: flex
    flex-direction column
    +mob(){
      wr(100%)
      pl(15px)
      pr(15px)
      z-index 80;
    }
    a{
      to()
      mt(10px)
      mb(13px)
      he(20px)
      co($color2_op)
      ff($regular)
      fs($font_m)
      letter-spacing 1px
      border-left: 2px solid transparent;
      +pad(){
        fs($font_s)
      }
      +mob(){
        mt(0px)
        mb(0px)
        co($color7)
        fs($font_m2)
        border-bottom 2px solid $accord
        border-left: none;
      }
      &:hover{
        opacity: .8
        pl(25px)
        fs($font_m1)
        co($color1)
        border-left: 2px solid $color5
        +pad(){
          pl(15px)
        }
        +mob(){
          border-left none
          pl(0px!important)
          opacity 1
          co($color1)
        }
      }
    }
    .active{
      position relative
      opacity: .8
      pl(25px)
      //fs($font_m1)
      fs($font_m1)
      co($color1)
      border-left: 2px solid $color5;
      +pad(){
        pl(15px)
        fs($font_s)
      }
      +mob(){
        opacity 1
        pl(0px!important)
        border-left none
        fs($font_m2)
        co($color1)
      }
    }
  }
}
.scroll_nav_dropdown{
  pl(0px)
  +mob(){
    pl(0px)
    pr(0px)
    mr(15px)
    ml(15px)
  }
  .title{
    +mob(){
      pl(0px)
    }
    p{
      fs($font_m)
      mb(0px)
      line-height normal
    }
  }
}
+mob(){
  .scroll_nav{
    bg(black)
    padding 0px
    hr(60px)
    .scroll_nav_container{
      overflow: hidden!important;
      bg($color3)
      a{
       display: flex;
       align-items: center;
       width: 100%;
       cursor: pointer;
       height: 55px;
       transition: margin-top 0.5s, height 0.5s;
       &:last-child{
         border-bottom none
       }
      }
    }
    .title{
      position relative
      background $accord!important
      display: flex;
      align-items: center;
      height: 67px;
      border none
      z-index 100
      pr(50px)
      &:after{
        triangle(white, down, 5px)
        top 29px
        right 21px!important
        trans()
        position: absolute;
        transform: rotate(180deg);
      }
      p{
        co($color1)
        ff($regular)
        fs($font_m2!important)
        letter-spacing 1px
        mb(0px)
        line-height normal
        to()
      }
    }
  }
  .scroll_nav_dropdown_active{
    position: fixed;
    right: 0px;
    top: 55px!important
    wr(100%)
    z-index: 100;
    margin 0px
    .title{
      pl(15px)
      &:after{
        right 33px!important
      }
    }
  }

//Closed
  .closed {
    .title{
      border-top 2px solid $color7!important
      border-bottom 2px solid $color7!important
      background $color3!important
      &:after {
        transform: rotate(0deg);
      }
    }
    .scroll_nav_container {
      margin-top: -5px !important;
      a {
        margin-top: -40px!important;
        height: 0px;
      }
    }
  }
}

.hiring_item{
  +md(){
    pb(10px)
  }
}
/*End Hiring*/





//.active{
//  position relative
//  pl(26px)
//  &:after{
//    content ''
//    position absolute
//    top 0
//    left 0
//    wr(2px)
//    hr(26px)
//    bg($color5)
//  }
//}