mixin portfolio_project()
    section.portfolio__page.portfolio__page__project.mt__page
        .container
            +breadcrumbs('Портфолио / MARTIN House')
        +slider-b()
        .container
            .portfolio__page__content.portfolio__page__about__project.row
                .portfolio__page__content__info.col-md-3.col-lg-2
                    span 235 КВ. М.
                    span Киевская область, поселок Шпитьки
                    span Дата завершения проекта:
                    span 27. 10.2018
                .col-md-9.col-lg-10
                    h2 Описание проекта
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        | используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                        | заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
                        | новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в
                        | более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                        | используется Lorem Ipsum.
                    h4 Подзаголовок
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        | стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        | создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                +share('')
            .row
                +line('col-md-12')
            .portfolio__page__content.portfolio__page__more.row
                .portfolio__page__content__info.col-md-3.col-lg-2
                    h3 Смотрите также:
                .col-md-9.col-lg-10
                    section.row.portfolio__page__content__block#link3
                        +portfolio_block('img/jpg/portfolio1.jpg')
                        +portfolio_block('img/jpg/portfolio2.jpg')