.portfolio__page{
  .portfolio__page__content__block{
    border none!important;
    margin-bottom 0px!important
  }
  .post__page__view{
    mt(43px)
    +mob(){
      mt(64px)
    }
  }
}
.portfolio__page__project{
  pb(230px)
  +mob(){
    pb(140px)
  }
  .portfolio__page__content{
    mt(47px!important)
  }
  .line{
    hr{
      mt(80px)
      mb(5px)
      +mob(){
        mt(121px)
      }
    }
  }
  .portfolio__block{
    +mob(){
      &:first-child{
          mt(46px!important)
      }
    }
  }
}
.portfolio__page__about__project{
  h2{
    ff($medium)
    fs($font_l + 8!important)
    mb(50px)
    line-height: 20px;
    letter-spacing 1px
    font-weight 500
    +mob(){
      mb(47px)
      fs($font_l + 4!important)
    }
  }
  h4{
    co($color1)
    ff($medium)
    fs($font_l1)
    mt(80px)
    mb(38px)
    line-height: 36px;
    font-weight 500
    +mob(){
      mt(42px)
      mb(37px)
      fs($font_l + 2)
    }
  }
  p{
    //mt(44px)
    //mb(84px)
    max-width 750px
    +mob(){
      max-width 100%
      mb(42px)
    }
  }
}

.portfolio__page__more{
  margin-top: 115px!important
  +mob(){
    margin-top 60px!important
  }
  .portfolio__page__content__info{
    +mob(){
      mb(0px)
    }
  }
}

.portfolio__page__content__info{
  +mob(){
    mb(102px)
  }
  h3{
    co($color1)
    ff($medium)
    fs($font_l + 4)
    line-height: 34px;
    letter-spacing: 1px;
    font-weight 500
    mt(12px)
    +mob(){
      mt(9px)
      line-height 38px
      fs($font_l + 2)
    }
  }
  & span{
    display block
  }
  & span:nth-child(1){
    co($color1)
    ff($bold)
    fs($font_l + 1)
    line-height: 26px
    letter-spacing: 1.20px
    +mob(){
      fs($font_l + 1)
      line-height 25px
    }
  }
  & span:nth-child(2){
    mt(48px)
    co($color1)
    ff($medium)
    fs($font_m)
    line-height: 20px;
    letter-spacing: 1px;
    +mob(){
      fs($font_m1)
      mt(16px)
      line-height 25px
      max-width 220px
    }
  }
  & span:nth-child(3){
    mt(70px)
    opacity: 0.25
    ff($regular)
    fs($font_m)
    line-height: 20px;
    letter-spacing: 1px;
    +mob(){
      fs($font_m)
      max-width 200px
      mt(28px)
    }
  }
  & span:nth-child(4){
    mt(18px)
    co($color1)
    ff($medium)
    fs($font_m)
    line-height: 20px;
    letter-spacing: 1px;
    +mob(){
      fs($font_m)
      mt(16px)
    }
  }
}