.blog_main{
  pb(170px)
  background-image: $main_gradient
  +mob(){
    pb(152px)
  }
  .scroll_nav {
    mt(65px)
    +mob(){
      mt(48px)
    }
  }
  .scroll_nav_dropdown_active{
    padding 0px
  }
  .hiring_item_hidden {
    display: none;
  }
}

//Toolbar filter
.toolbar_filter{
  +mmin(1000px){
    .fil_btn{
      ml(50px)
      border-left none!important
    }
  }
  +pad(){
    .fil_btn{
      ml(35px)
    }
  }
  a{
    mt(0px!important)
    mb(0px!important)
    +md(){
      mb(0px!important)
      pb(0px!important)
    }
    &:hover{
      border-left none!important
      pl(0px!important)
      co($color6!important)
      fs($font_m!important)
      +pad(){
        fs($font_s!important)
      }
      +mob(){
        border-left none!important
        pl(0px!important)
        fs($font_m2!important)
        co($color1!important)
      }
    }
  }
  .active{
    border-left none!important
    pl(0px!important)
    co($color6!important)
    fs($font_m!important)
    +mob(){
      fs($font_m2!important)
      co($color1!important)
    }
  }

  .scroll_nav_dropdown{
    .title{
      display flex
      //border-left 2px solid $color5
      letter-spacing 1px
      pl(40px)
      &:before{
        position: absolute
        content ''
        left 15px
        top 0
        hr(100%)
        wr(2px)
        bg($color5)
        +md(){
          display none
        }
        +mob(){
          display none
        }
      }
      +pad(){
        fs($font_m)
      }
      +md(){
        pl(15px)
      }
      +mob(){
        pl(0px)
        border none
      }
    }
    +mmin(1000px) {
      display flex
      flex-direction row
      align-items flex-end
      justify-content space-between
      .scroll_nav_container{
        flex-direction row
        justify-content flex-end
        pl(0px)
        pr(0px)
      }
    }
    .scroll_nav_container{
      +md(){
        flex-direction row
        justify-content flex-end
      }
    }
  }
  .scroll_nav_dropdown_active{
    .title{
      pl(15px)
    }
  }
}

#post_filter{
  mt(67px)
  //+mob(){
  //  mt(67px)
  //}
  //Scale block
  .tile {
    transform: scale(0);
    transition: .2s;
    transition-timing-function linear
  }
  .scale {
    transform: scale(1);
  }
  //Post block
  .line{
    +mob(){
      order 4
    }
    hr{
      border none
      hr(2px)
      bg($color1)
      opacity .12
      mt(90px)
      mb(0px)
      +mob(){
        mt(57px)
        mb(24px)
      }
    }
  }
  .caption{
    mt(75px);
    mb(10px);
  }
  .post__container{
    mb(56px);
    justify-content space-between;
    &:last-child{
      mb(140px)
      .line{
        display none
      }
    }
    +mob(){
      mt(0px)
    }
    .post__link{
      position absolute
      top 0
      right 0
      wr(100%)
      hr(100%)
      z-index 60
      &:hover ~ .post__block__content__container .post__block__link img{
        ml(45px)
      }
      a{
        display block
        wr(100%)
        hr(100%)
      }
    }
    .post__block__content__container{
      +mob(){
        order 3
      }
    }
    .post__block__info{
      +mob() {
        order 2
        hr(81px)
        pt(16px)
      }
      a{
        mt(56px)
        +mob(){
          line-height 20px
          mt(0px)
          fs($font_m + 1)
        }
      }
      span{
        fs($font_m - 1)
      }
    }
    .post__block__content{
      +mob(){
        order 3
      }
      .post__block__caption{
        //display block
        mt(48px)
        co($color1)
        ff($medium)
        fs($font_l2)
        line-height: 42px;
        letter-spacing: 1px;
        +md(){
          fs($font_l)
          line-height normal
        }
        +mob(){
          fs($font_l2 - 2)
          line-height 40px
          mt(0px)
        }
      }
      p{
        max-width (350px);
        mt(20px)
        mb(41px)
        +mob(){
          max-width 100%
          mt(32px)
          mb(42px)
        }
      }
    }
    .post__block__link{
      span{
        opacity .8
        co($color4)
        ff($medium)
        fs($font_m)
        letter-spacing: 1px;
        +mob(){
          fs($font_m)
        }
      }
      img{
        ml(30px)
        transition .2s
        transition-timing-function linear
        +mob(){
          ml(17px)
          hr(14px)
        }
      }
    }
    .post__img {
      pl(31px)
      pt(33px)
      +mob(){
        hr(278px)
        order 1
        padding 0px
      }
      img{
        max-height 315px
        wr(100%);
        hr(100%);
        object-fit cover;
        object-position bottom
        +md(){
          hr(auto)
        }
        +mob(){
          max-height 100%
        }
      }
    }
    .post__img__mob{
      display none
      +mob(){
        display block
      }
    }
    .post__img__des{
      +mob(){
        display none!important
      }
    }
  }
}