mixin blog()
    section.blog_main.mt__page
        .blog__container.container
            +breadcrumbs('Блог')
            .row
                .col-lg-2
                    h1.header__name Блог
                +scroll_nav_filter('Все публикации', [
                    {name: 'Все', rubrik: ''},
                    {name: 'Новости архитектуры', rubrik: ''},
                    {name: 'Статьи', rubrik: ''},
                    {name: 'Обзоры', rubrik: ''},
                ])
        #post_filter.smooth__section.container
            +blog_post_block('Новости архитектуры', 'tile scale')
            +blog_post_block('Новости архитектуры', 'tile scale')
            +blog_post_block('Новости архитектуры', 'tile scale')
            +blog_post_block('Новости архитектуры', 'tile scale')
            +blog_post_block('Новости архитектуры', 'tile scale')
        .container
            +pagination()