// ----- MARGIN CENTER -----
mc()
  margin-left auto
  margin-right auto

// REM SIZES
r(n)
  (n * ( 1 / $base-font-size ))rem

// EM SIZES
e(n)
  (n * ( 1 / $base-font-size ))em

rmi(n)
  -((n * ( 1 / $base-font-size )))rem

// EM SIZES
emi(n)
  -((n * ( 1 / $base-font-size )))em

//  SIZES
wr($wr)
  width ($wr)
  //width r($wr)

hr($hr)
  height ($hr)
  //height r($hr)

maxwr($maxwr)
  max-width ($maxwr)
  //max-width r($maxwr)

maxhr($maxhr)
  max-height: r($maxhr)

minwr($minwr)  
  min-width: r($minwr)

minhr($minhr)
  min-height: r($minhr)

//  MARGINS

mm($top, $right, $bottom, $left)
  margin r($top) r($right) r($bottom) r($left)

mt($sz)
  margin-top ($sz)

mr($sz)
  margin-right ($sz)

mb($sz)
  margin-bottom ($sz)

ml($sz)
  margin-left ($sz)

//  PADDINGS

pp($top, $right, $bottom, $left)
  padding r($top) r($right) r($bottom) r($left)


pt($sz)
  padding-top ($sz)
  //padding-top r($sz)

pr($sz)
  padding-right ($sz)
  //padding-right r($sz)

pb($sz)
  padding-bottom ($sz)
  //padding-bottom r($sz)

pl($sz)
  padding-left ($sz)
  //padding-left r($sz)


//  MARGINS MINUS

mtm($sz)
  margin-top rmi($sz)

mrm($sz)
  margin-right rmi($sz)

mbm($sz)
  margin-bottom rmi($sz)

mlm($sz)
  margin-left rmi($sz)

//SIZES
wi($sz)
  width r($sz)

he($sz)
  height r($sz)

mwi($sz)
  max-width r($sz)

mhe($sz)
  max-height r($sz)

//FLEX

fl($sz)
  flex 0 0 $sz
  max-width $sz