mixin accordion()
    #accordion.accordion
        .accordion_heading Section 1
        .accordion__panel
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .accordion_heading Section 2
        .accordion__panel
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .accordion_heading Section 3
        .accordion__panel
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

mixin ac()
    #tabs.accordion
        .accordion_heading_open.accordion_heading section1
        +tabs-content()
        .accordion_heading_open.accordion_heading section2
        +tabs-content()
        .accordion_heading_open.accordion_heading section3
        +tabs-content()