.accordion
  &_heading
    display flex
    align-items center
    //bg($wt)
    //co($bk)
    cursor pointer
    padding 0 r(15) r(3)
    height r(45)
    fs(16px)
    margin 0
    position relative
    trans()
    &:focus
      outline none
    &:hover
      //bg($accord)
    //&:after
    //  triangle(white, down, 6px)
    //  top 30px
    //  right 20px
    //  trans()
    //&.active
    //  &:after
    //    transform rotate(180deg)

  &__panel
    display none
    padding r(12) r(15) r(13)





