mixin form-success()
    #success.form__success.row(style="display:none")
        .col-6.col-md-3
            +img('img/svg/icon-send.svg')
        .col-md-12
            .row.form__text
                .col-md-7
                    h2(data-selectable="true") Заявка отправлена
                .col-md-7
                    p(data-selectable="true") Ваша заявка отправлена. Я свяжусь с вами <br> в кратчайшие сроки.
        .col-md-6
            +btn3('Хорошо', 'javascript:;', '')