.service__page{
  mt(77px)
  pb(260px)
  background-image: $main_gradient;
  +pad(){
    pb(180px)
  }
  +mob(){
    pb(180px)
  }
  .line{
    hr{
        mt(95px)
        mb(0px)
      +mob(){
        mt(60px)
      }
    }
  }
  .header__name{
    fs($font_l2)
    letter-spacing 2.5px
  }
  ol{
    li{
      line-height 29px
      mb(14px)
    }
  }
}


.service__page__content{
  mt(65px)
  +mob(){
    mt(48px)
  }
  .scroll_nav{
    +mob(){
      mb(61px)
      z-index 60
    }
  }
  .service__page__content__block{
    mt(6px)
    align-items flex-start
    pt(114px)
    +pad(){
      pt(80px)
    }
    +mob(){
      pt(50px)
      pb(44px)
    }
    &:first-child{
      pt(0px!important)
    }
    &:last-child{
      border none
      pb(0px)
      .line{
        display none
      }
    }
    h2{
      text-transform uppercase
      mb(38px)
      letter-spacing 3px
      font-weight 500
      +mob(){
        fs($font_l + 5!important)
        letter-spacing 1.5px
        line-height 40px
        mb(27px)
      }
    }
    h3{
      mt(60px)
      mb(35px)
      co($color1)
      ff($medium)
      fs($font_l1)
      line-height: 36px;
      +mob(){
        mt(73px)
        mb(38px)
        font-weight 500
        line-height 33px
        letter-spacing 1px
        fs($font_l)
      }
    }

    .service__page__content__block__img {
      img{
        wr(100%)
        hr(100%)
        maxwr(360px)
        object-fit cover
        +md(){
          hr(320px)
        }
        +mob(){
          object-position top
          hr(290px)
        }
      }
    }

    //service__page__content__block__info
    .service__page__content__block__info{
      pl(30px)
      +md(){
        mt(50px)
        pl(15px)
      }
      +mob(){
        pl(15px)
        mt(48px)
      }
      p{
        mb(40px)
        +mob(){
          mb(27px)
        }
      }
    }

    //note link
    .service__page__content__link {
      mt(46px)
      display flex
      align-items center
      +mob(){
        mt(52px)
      }
      a {
        co($color6)
        fs($font_m1)
        ff($medium)
        letter-spacing 1px
        line-height normal
        +md(){
          fs($font_m)
        }
        +mob(){
          fs($font_m1!important)
        }
        &:hover ~ img {
          ml(40px)
        }
      }
      img {
        trans()
        wr(auto!important)
        hr(15px!important)
        ml(22px)
        +mob(){
          hr(14px!important)
          ml(19px)
        }
      }
    }
  }
}

