mixin service()
    section.service__page.mt__page
        .test
        .container
            +breadcrumbs('Услуги')
            +header_name('Услуги')
            .row.service__page__content
                //title array[name, href]
                +scroll_nav('Управление', [
                    {name: 'Управление', href: '#link1'},
                    {name: 'Консультирование', href: '#link2'},
                    {name: 'Ремонт', href: '#link3'},
                    {name: 'Строительство', href: '#link4'},
                    {name: 'Дизайн', href: '#link5'},
                    {name: 'Решение проблем', href: '#link6'},
                    {name: 'Мебель', href: '#link7'}
                ])
                .col-md-9.col-lg-10
                    //Block
                    .section.service__page__content__block.row#link1
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/slider_service1.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Управление строительством
                            p Полный менеджмент проекта. Управление ходом работ на объекте,
                                | контроль сроков, качества, поставок. Я знаю, как организовать
                                | процесс так, чтобы все было в срок, качественно и без лишних проблем.
                            h3 В пакет услуг по управлению проектом входят:
                            +ol('', [
                                {name: 'Руководство реализацией проекта: обеспечу высокое качество строительства, соблюдение сроков реализации и бюджетной стоимости проекта.'},
                                {name: 'Управление изменениями в проекте, разработка корректирующих действий.'},
                                {name: 'Управление распределением ответственности между исполнителями в процессе управления проектом.'},
                                {name: 'Участие в рассмотрении проектно-сметной и рабочей документации.'}
                            ])
                            h3 В пакет услуг по управлению проектом входят:
                            +ol('', [
                                {name: 'Контроль проведения работ (качество, объёмы, техника).'},
                                {name: 'Контроль закупок и проверка смет в проекте.'},
                                {name: 'Проведение тендеров и оценка предложений в интересах клиента.'},
                                {name: 'Персональная ответственность за доведение и обоснование решений по проекту.'},
                                {name: 'Отчетность по выполнению работ.'}
                            ])
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link2
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Консультирование
                            p Редко встретишь проект, который выполняются не в сжатые сроки, не сопровождается
                                | рисками и осуществляются в условиях, где невозможны перерасходы и злоупотребления.
                                | И порой единственный способ понять реальное положение дел — получить консультацию профессионала.
                            p Я помогаю своим клиентам выявить и смягчить риски проекта, предоставляю консультации по стоимости
                                | и срокам выполнения работ, оправданности применения конкретных материалов и технологий, а также по
                                | поставкам, изготовлению мебели, комплектации квартир, домов, отелей.
                            //Todo
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link3
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Ремонт
                            p Моя команда предоставляет услуги ремонта и комплектации квартир, домов, офисов, отеля, ресторанов.
                                | В срок и не выходя за рамки бюджета. Также мы помогаем в решении кризисных ситуаций, таких как
                                | срочный ремонт и окончание ремонта после недобросовестных подрядчиков.
                            //Todo
                            h3 В пакет ремонтных услуг входят:
                            +ol('', [
                                {name: 'Детальный просчет необходимых материалов и работ.'},
                                {name: 'Детальный график реализации работ.'},
                                {name: 'Контроль соблюдения технологий.'},
                                {name: 'Рекомендация материалов и проверка их качества.'},
                                {name: 'Организация и контроль транспортировки материалов.'},
                                {name: 'Организация работы команды квалифицированных специалистов..'},
                                {name: 'Контроль бюджета и качества выполнения работ на всех этапах реализации проекта.'},
                                {name: 'Отчетность по выполнению работ.'}
                            ])
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link4
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Строительство
                            p Полный комплекс работ по строительству новых и реконструкции существующих зданий.
                                | Вы получите готовый объект «под ключ», не задумываясь о переходных этапах.
                                | Открытые сметы, оплата только за услуги.
                            p В любое удобное для вас время мы готовы принять заявку на строительные услуги,
                                | разработать график работ и составить план их проведения. Основываясь на своем
                                | успешном опыте, на этом этапе мы учтем все важные детали, так как знаем, что при
                                | проведении строительных работ неважных мелочей не бывает и нужно учитывать и продумывать
                                | все без исключения.
                            //Todo
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link5
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Дизайн
                            p Ликвидация брака и “недоделок” за недобросовестными подрядчиками, строителями,
                                | проектантами, решение спорных вопросов без нервов и доплат. Мое кредо при
                                | решении проблем — решить их с максимальным комфортом для клиента.
                            //Todo
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link6
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Решение проблем
                            p Ликвидация брака и “недоделок” за недобросовестными подрядчиками, строителями,
                                | проектантами, решение спорных вопросов без нервов и доплат. Мое кредо при
                                | решении проблем — решить их с максимальным комфортом для клиента.
                            //Todo
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')
                    //Block
                    .section.service__page__content__block.row#link7
                        .service__page__content__block__img.col-md-12.col-lg-5
                            +img('img/jpg/service.jpg')
                        .service__page__content__block__info.col-md-12.col-lg-7
                            h2 Мебель
                            p Желание работать с красивыми и качественными предметами интерьера
                                | подтолкнуло к поиску производителей с наилучшим сочетанием оригинального
                                | дизайна, глубоких традиций ремесленного производства и высочайшего качества.
                            p Мы занимаемся комплектацией и меблированием частных и бизнес-апартаментов,
                                | ресторанов, отелей, консультируем по поставкам и непосредственно осуществляем
                                | прямые поставки мебели, плитки, сантехники, света с итальянским фабрик на лучших условиях.
                            //Todo
                            .service__page__content__link
                                a(href="#" target="_blank") Заказать услугу
                                +img("img/svg/red_arrow_right.svg")
                        +line('col-md-12')