//-Map
include map/map-snazzy

include buttons/buttons
include modal/modal
include images/images
include links/links
include lists/lists
include accordion/accordion
include tabs/tabs
include line/line