mixin head()
    head
        // meta tags
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover user-scalable=no')


        //base(href='')
        meta(name='format-detection', content='telephone=no')
        meta(name='robots', content='noindex')
        meta(name='rating', content='GENERAL')

        meta(name='title', content='')
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='author', content='Volta.one')
        meta(name='language', content='')
        //link(rel='canonical' href='')


        // ogp facebook
        meta(property='og:url', content='')
        meta(property='og:type', content='website')
        meta(property='og:title', content='')
        meta(property='og:description', content='')
        meta(property='og:image:type', content='image/png')
        meta(property='og:image', content='img/ogp/OGP_Facebook.png')


        // ogp twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='')
        meta(name='twitter:image:src', content='img/ogp/OGP_Twitter.png')
        meta(name='twitter:description', content='')


        // title
        title
            block title

        // favicon
        link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
        link(rel='manifest', href='img/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')

        // style
        link(rel='stylesheet', type='text/css', href='css/vendor.css')
        link(rel='stylesheet', type='text/css', href='css/style.css' + ver)

        script(src='js/lottie.js')

        // modernizr
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

        <!--[if lt IE 9]>
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
        <![endif]-->