html
  font-size $base-font-pixels

html, body
  overflow-x hidden

body
  ff($medium)
  co($color1) //color
  bg($color3) //background color


//open mobile menu
html,body{
  .open{
    #mobile__icon{
      span{
        &:nth-child(1){
          wr(0%!important)
        }
        &:nth-child(2){
          transform: rotate(45deg)!important
          wr(100%!important)
        }
        &:nth-child(3){
          transform: rotate(-45deg)!important
          wr(100%!important)
        }
        &:nth-child(4){
          wr(0%!important)
        }
      }
    }
    #navigation{
      +mob(){
        left: 0px!important
      }
    }
  }
}
//End open mobile menu

//Scroll overlay
.scroll__overlay{
  +mob(){
    position fixed
    top 0
    left 0
    hr(100vh)
    wr(100%)
    bg(rgba(0,0,0,.8))
    z-index 80
    display none
    transition .2s
    transition-timing-function linear
  }
}
.scroll__overlay__show{
  +mob(){
    display block!important
  }
}
//End Scroll overlay


*{
  outline: none;
}
html,
body{
  font-family: $regular;
  background-color: $color3;
}
h2{
  color: $color1;
  font-family: $regular;
  font-size: $font_l2;
  letter-spacing: 2px;
}
p,span{
  ff($regular)
  fs($font_m)
  co($color1)
  line-height: 28px
}
a,button{
  text-decoration: none;
  trans()
}
a{
  &:hover{
    co($color1)
  }
}
button{
  cursor: pointer;
}
// //scrollbar
::-webkit-scrollbar-track{
  background-color: $color3;
}
::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background-color: $color3;
}
::-webkit-scrollbar{
  width: 0px
}
.mt__page{
  mt(77px!important)
  +mob(){
    mt(52px!important)
  }
}

//Note для svg +
.follower {
  width: 53px;
  height: 53px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  transition: height 0.5s, width 0.5s;
  //opacity: 0.5;
}
.follower.follower_out {
  wr(0px);
  hr(0px);
  opacity 0
  +pad(){
    wr(40px);
    hr(40px);
    bottom: 70px;
    right 15px;
    opacity 1
    transform: translate3d(0,0,0);
  }
  +md(){
    opacity 1
  }
  +mob(){
    opacity 1
    wr(60px);
    hr(60px);
    bottom: 70px;
    right 15px;
    transform: translate3d(0,0,0);
  }
}
.portfolio__block__text:hover,
.follower:hover {
  cursor:none;
}

+mmin(768px){
  .only_m{
    display none!important
  }
  .only_d{
    display block
  }
}

+mob(){
  .only_m{
    display block
  }
  .only_d{
    display none!important
  }
}


//Pages
.pages{
  mt(120px)
}

.page_404{
  .page__404__block{
    display flex
    hr(600px)
    justify-content center
    align-items center
    flex-direction column
    +mob(){
      hr(330px)
    }
    h2{
      mb(50px)
      fs($font_l4)
      +mob(){
        fs($font_l3 + 10!important)
      }
    }
  }
}