@import "../../vars/*.styl"

flex-init()
  for i in (0..4)
    .justify-content-{justify-content-flex-prefixes[i]}
        justify-content justify-content-properties[i]
  for j in (0..4)
    .align-items-{align-items-self-properties[j]}
        align-items align-items-self-flex-prefixes[j]
  for k in (0..4)
    .align-self-{align-items-self-properties[k]}
        align-self align-items-self-flex-prefixes[k]

  for l in (1..$breakpoints-count)
    @media (min-width: breakpoints[l]px)
      for m in (1..4)
        .justify-content-{prefixes[l]}-{justify-content-flex-prefixes[m]}
          justify-content justify-content-properties[m]
      for n in (1..4)
        .align-items-{prefixes[l]}-{align-items-self-properties[n]}
          align-items align-items-self-flex-prefixes[n]
      for p in (1..4)
        .align-self-{prefixes[l]}-{align-items-self-properties[p]}
          align-self align-items-self-flex-prefixes[p]